[2014-07-29 16:05] anna-wang opened #5 "Using DDA on objects with more than one domain"
Using the example from the tutorial (http://manoharan.seas.harvard.edu/holopy/users/dda_tutorial.html#dda-tutorial) fails:

import holopy as hp
from holopy.core import Optics, ImageSchema
from holopy.scattering.scatterer import Scatterer, Sphere
from holopy.scattering.theory import DDA
s1 = Sphere(r = .5, center = (0, -.4, 0))
s2 = Sphere(r = .5, center = (0, .4, 0))
schema = ImageSchema(100, .1,

[2014-08-07 04:00] anna-wang opened #8 "hp.vis.vis2d.show_scatterer_slices - not sure if this still works"
I'm not sure hp.vis.vis2d.show_scatterer_slices works/I don't know if there's a different way of calling it now. When I type the following I get a bunch of black slices:

[code]

I also get an error the first time I try this:

[code]

example slice:
![figure_1](https://cloud.githubusercontent.com/assets/8300781/3837207/6b443152-1de7-11e4-9924-bdc682ce830b.png)

[2014-08-07 04:01] #5 closed, assigned to nobody

[2014-08-07 22:51] #8 closed, assigned to nobody

[2014-08-08 20:56] nschade opened #10 "Coordinate system convention in Positions class"
Dear holopy team,

The definition of theta in the Positions class (line 474 of metadata.py) appears to be consistent with conventional spherical coordinates.  However, this means that theta = 0 corresponds to the positive z axis (backscattering) and theta = pi corresponds to the negative z axis (forward scattering), the reverse of conventional scattering coordinates.  Is this correct?

Thank you,

[2014-08-11 19:52] tdimiduk opened #11 "Switch to lmfit-py for minimization"
lmfit-py (https://github.com/lmfit/lmfit-py) is a python implementation of the Levenberg-Marquardt algorithm. It has support for bounds. Switching to lmfit from nmpfit would offer the following advantages:
- we get uncertainty calculations for free, and in a transparent way (http://lmfit.github.io/lmfit-py/fitting.html#goodness-of-fit-and-estimated-uncertainty-and-correlations).
- we could elimina

[2014-08-11 19:52] tdimiduk opened #12 "Switch to pillow for image io"
pillow (http://python-imaging.github.io/) is a fork of the Python Imaging Library that is actively developed (https://github.com/python-imaging/Pillow). It includes support for 12-bit TIFF files (https://github.com/python-imaging/Pillow/pull/416). If we switch to pillow from PIL, we can remove the dependency on tifffile.py and potentially eliminate a lot of the code in holopy/core/io/image-file-io

[2014-08-11 20:01] tdimiduk opened #13 "Optical train modeling"
We should be modeling the optical train more explicitly. This may help solve alpha, and could allow us to correct for things like tilt, spherical abberation and things of that sort.

[2014-08-11 20:04] tdimiduk opened #14 "Rethink Backgrounding"
We should need to think through in more detail what is the best way to use backgrounds to minimize error.
This may be:
Final = (Raw - Darkfield)/Background

[2014-08-11 20:06] tdimiduk opened #15 "HoloPy does not capture all of ADDA's output"
ADDA computes a number of potentially interesting scattering quantities that HoloPy does not currently capture. It should be relatively easy to parse them out of the output files and make them available. Have to think about what the right way to present that data is.

[2014-08-11 20:07] tdimiduk opened #16 "propagate does not expect images with both negative and positive pixels"
Suppose
img
is an image with both negative and positive pixels.

Then
hp.show(hp.propagate(img,0.01)
gives a distinctly different result than
hp.show(hp.propagate(img - img.min(),0.01)

With autoscaling, the second result looks more similar to the un-propagated image, as desired for a propagation of a small finite distance.

[2014-08-11 20:07] tdimiduk opened #17 "DDA does not agree with Mie for a sphere"
sch = ImageSchema(shape=[100, 100], spacing=[0.10000000000000001, 0.10000000000000001], optics=Optics(wavelen=0.66, index=1.33, polarization=[1, 0], divergence=0.0), origin=[0.0, 0.0, 0.0])
sph = Sphere(n=1.59, r=0.5, center=(5, 5, 5))
hm = Mie.calc_holo(sph, sch)
hd = DDA.calc_holo(sph, sch)
hp.show(hm - hd)

These do not agree as well as they probably should. It appears there is a systemic offse

[2014-08-11 20:08] tdimiduk opened #18 "resampling with one value does not result in a square image"
In the resampling examples given below, the second one doesn't work as expected. The expected output is that h would be [300x300] and the spacing with be [ 0.05466667 0.05466667]. Instead, the image is just shrunk along the first axis.

import holopy as hp
from holopy.core import ImageSchema, Optics

optics = hp.core.Optics(wavelen=.532, index=1.405,
                        polarization=[1.0, 0.0]

[2014-08-11 20:26] tdimiduk opened #19 "Switch launchpad references to point at github"
The docs (and possibly other things) point at launchpad. We should move these to point at github since we have moved development over here.

[2014-08-11 21:20] nschade opened #20 "ScatteringTheory.calc_intensity assumes a detector facing along the z-axis"
This bug is in scatterytheory.py.  The hard-coded "normal" vector assumes the detector is pointing along the z-axis, so it only uses the components of the electric field in the x and y directions to calculate the intensity.  This creates problems when considering scattering in another direction, e.g. for calculations of dark-field scattering spectra.

[2014-08-13 17:09] tdimiduk opened #21 "Make scatterers and theory available from holopy.scattering?"
Is it worth making theories (Mie, Multisphere, DDA, ...) and scattereres (Sphere, Spheres, ...) available from holopy.scattering instead of just in the theory and scattererer namespaces?

Example, currently:
[code]

If we pushed these namespaces down, it would then be possible to do
[code]
though the old code would of course still work.

I don't think we have enough things here fro this namespace

[2015-05-06 16:38] bmorris3 opened #27 "Cannot reproduce recon example"
I'm trying to reproduce the [tutorial example on reconstruction](http://manoharan.seas.harvard.edu/holopy/users/recon_tutorial.html#recon-tutorial) and it is failing with the following error:

[code]
yields:
[code]

I'm using Python 2.7, Mac OS X 10.10.

[2015-05-06 18:47] RebeccaWPerry commented on #27
Thank you for reaching out--
since it is failing at the hp.show step, you could try using a different
image viewer until I or another developer have more time to look at it.
Something like this will show you the 0th image from the reconstructed
stack:

*from matplotlib import pyplot*

from  numpyimport  linspace
import  holopyas  hp
from  holopy.coreimport  Optics
from  holopy.propagationimport  p

[2015-05-06 20:58] vnmanoharan commented on #27
It looks like line 680 in `holopy/core/marray.py` which currently reads

    if not hasattr(arr,'spacing') or arr.spacing == None:

should read:

    if not hasattr(arr,'spacing') or arr.spacing is None:

Can you try making this change and letting us know if it fixes this bug?

[2015-05-07 00:39] bmorris3 commented on #27
After making that recommended change, the following error occurs:

[code]

[2015-05-07 01:20] anna-wang commented on #27
If you try to look at the loaded hologram using these two lines, do the
results look different?

hp.show(holo)
imshow(holo)

I get a unicode error when I try and use hp.show:

UnicodeWarning: Unicode equal comparison failed to convert both arguments
to Unicode - interpreting them as being unequal

I'm using 10.10 and Python 2.7 as well.

On 6 May 2015 at 20:39, Brett M. Morris <notifications@githu

[2015-05-07 01:22] anna-wang commented on #27
This is my example file, 'image0001.yaml'. It looks like wingdings to me.
What do you all see?

On 6 May 2015 at 21:20, Anna Wang <annawang@seas.harvard.edu> wrote:

[2015-05-07 01:28] anna-wang commented on #27
Brett - I think however we've configured our Macs means that the example
.yaml file doesn't work for us. Instead of loading the example data file,
can you try the following example where we first calculate a hologram, then
propagate it?

import holopy as hp
from holopy.scattering.scatterer import Sphere
from holopy.core import ImageSchema, Optics
from holopy.scattering.theory import Mie
from holop

[2015-05-08 03:36] bmorris3 commented on #27
That works for me, @anna-wang .

[2015-05-08 17:18] anna-wang commented on #27
Great! Hope other things go more smoothly.

[2015-05-08 17:45] vnmanoharan commented on #27
I think Brett is saying that Anna's code worked, but we still don't know why the original example failed. So I'm reopening this because if our examples aren't working, that's a bug.

There are a couple of things going on here that I don't understand. The first is why warnings like FutureWarning and UnicodeWarning are halting hp.show(). Normally a warning won't do that. The second is why imshow is

[2015-05-08 17:52] anna-wang commented on #27
I'm using Canopy

On 8 May 2015 at 13:45, vnmanoharan <notifications@github.com> wrote:

[2015-05-08 17:52] anna-wang commented on #27
The Wingdings is what shows up when I open the yaml file up in a text
editor.

On 8 May 2015 at 13:52, Anna Wang <annawang@seas.harvard.edu> wrote:

[2015-08-11 11:24] fmehdi15 opened #29 "import Image"
In the image_file_io.py, I had to change the line "import Image as PILImage" to "from PIL import Image as PILImage"

[2015-08-11 11:26] fmehdi15 commented on #27
I am not able to run this example. This is what I get:

Traceback (most recent call last):
  File "<pyshell#36>", line 1, in <module>
    rec_vol = propagate(holo, linspace(4e-6, 10e-6, 7))
  File "C:\Python27\lib\site-packages\holopy\propagation\convolution_propagation.py", line 81, in propagate
    ft = apply_trans_func(ft, G)
  File "C:\Python27\lib\site-packages\holopy\propagation\convolution_

[2015-08-12 02:08] anna-wang commented on #27
Hi fmehdi15: are you using Windows? Also, did you get holo from the .yaml file?
[code]

[2015-08-12 18:41] fmehdi15 commented on #27
I am using windows 7.

I do get holo from the provided .yaml file. When I type hp.show(holo), I get the following message:

Traceback (most recent call last):
  File "<pyshell#28>", line 1, in <module>
    hp.show(holo)
  File "C:\Python27\lib\site-packages\holopy\vis\show.py", line 59, in show
    show2d(o)
  File "C:\Python27\lib\site-packages\holopy\vis\vis2d.py", line 188, in show2d
    plotte

[2015-08-12 20:49] anna-wang commented on #27
Hi fmehdi15: I'm trying to reproduce your error. In the meantime, what happens if you change the following code (lines 63-67) in holopy/vis/vis2d.py, then open up ipython and try the example again?:

'''
        if  hasattr(im, 'spacing') and im.spacing is not None:
            ratio = str(im.spacing[0]/im.spacing[1])
        else:
            ratio = '1.0'
'''
Anna

[2015-08-13 01:05] anna-wang commented on #27
Ok I think I have a solution. I will implement a few changes to the code and make sure it works in Ubuntu tomorrow morning before putting it up here. The way NumPy treats == and floats vs integers is different (stricter) in the newer Windows and Mac NumPy distributions, which has caused a couple of problems.

Anna

[2015-08-13 18:30] anna-wang commented on #27
Hi fmehdi15: I've implemented some changes. Can you try the latest version of the code and let me know how it goes?

Anna

[2015-08-13 18:40] anna-wang commented on #29
I think this depends on how Image is installed (in the python path vs as a subdirectory of PIL). In the current image_file_io.py file it already tries to take this into account with the following lines:
[code]
If you open ipython and type "import PIL.Image as PILImage" what happens?

Anna

[2015-08-20 13:45] fmehdi15 commented on #29
Thanks Anna. I could not test it as I am travelling till but will get back
to you after the first week of September.

Best

Faraz

On Thu, Aug 13, 2015 at 2:40 PM, anna-wang <notifications@github.com> wrote:

[2015-08-20 13:47] fmehdi15 commented on #27
Thanks Anna. I could not test it as I am travelling till but will get back to you after the first week of September. Please feel free to delete this message after you have viewed it as it is not adding to the topic but I just wanted to let you know.

Best

Faraz

[2015-09-09 18:27] fmehdi15 commented on #27
Hi Anna-Wang: Your new code took care of the invalid slice error. Thanks.

[2015-09-09 18:36] anna-wang commented on #27
I'm glad, thanks for letting me know!

Anna

On 9 September 2015 at 14:27, fmehdi15 <notifications@github.com> wrote:

[2016-06-01 20:54] tdimiduk opened #32 "Make Scattering theories into simple functions"
The scattering theories are currently classes with magical functions that let you call calculation functions as if they were normal functions.

We decided to make the scattering theories into objects because we thought it would be useful for having theory settings, but in practice this is almost never used.

The code that allows the current api is kind of excessively magical (uses inspect and a de

[2016-06-01 20:59] tdimiduk opened #33 "Easier import api"
Figure out to what degree it makes sense to provide shorter paths to commonly used functions and objects. Right now you need a bunch of boilerplate imports at the top of each script to do things. It might be nice to be able to do something like

import holopy.fitting.api as hp
or
import holopy.scattering.api as hp
or
from holopy.fitting.api import Sphere, fit, Optics, ...

and get all the stuff yo

[2016-06-01 21:06] tdimiduk opened #34 "Make Mie automatically determine if it needs to compute near field stuff"
Using compute_escat_radial and full_radial_dependence in Mie calculations when you don't need to can cost almost a factor of 10 in run time in some cases. I think it should be possible to pick a conservative threshold where they are definitely not needed and have the code automatically turn those extra calculations off.

[2016-06-01 21:09] tdimiduk opened #35 "Move scattering.theory.mie_f.mie_specfuncs.log_der_1 to fortran"
scattering.theory.mie_f.mie_specfuncs.log_der_1 can take > 10 percent of runtime for a low fraction Mie calculation. It is a short function that should be pretty easy to move to fortran and see a noticeable speedup.

[2016-06-01 21:37] #19 closed

[2016-08-10 22:39] vnmanoharan commented on #35
Is this fixed by #37 ?

[2016-08-11 02:26] anna-wang opened #40 "setup.py: fortran doesn't compile properly when multiple fortran compilers are available"
In Ubuntu

[code]

gives the following error when both gcc/gfortran and an Intel Fortran compiler are installed:

[code]

[tonnes more lines...]

[code]

Removing either gcc or the Intel compiler results in the code compiling properly

[2016-08-11 13:06] tdimiduk commented on #35
Yes it is.

[2016-08-11 13:06] #35 closed

[2016-08-19 18:12] barkls commented on #16
Propagate should make all pixels non-negative and give warning if it changed any

[2016-08-19 18:20] barkls opened #41 "Doc test the code in tutorials"
We should have an automated way to test all the code in tutorial examples to make sure it always works.

[2016-08-19 18:23] barkls commented on #29
Make sure this is fixed when addressing #12

[2016-08-19 18:25] barkls commented on #34
@jeromefung do you know how far away from the particle the near-field effects are significant?

[2016-08-19 18:30] barkls opened #42 "Python 3"
Probably cleaner to only support one version of python, ie. abandon python 2.

[2016-08-19 18:32] barkls opened #43 "Bayesian Inference"
Interface needs some thought. Docs need heavy updating to emphasize its existence.

[2016-08-19 18:35] barkls opened #44 "hdf5"
Switch to reading/writing images and arrays as hdf5 rather than dumping binary data into .yaml files.

No longer want to create image-containing .yaml files, but we still need to be able to read them for foreseeable future.

Data for tests is currently in .yaml files, and some should be converted to hdf5.

[2016-08-19 18:36] barkls opened #45 "switch to xarray"
Pandas is currently used in the Bayesian inference code. We might as well expand it to the rest of holopy where it makes sense, for example timeseries data.

[2016-08-19 18:37] barkls opened #46 "Timeseries Interface"
We need a standardized interface to analyse timeseries data, rather than have everyone write it themselves.

[2016-08-19 18:37] barkls commented on #44
Also need to make sure the camera controller uses the same format to save metadata.

[2016-08-19 18:41] vnmanoharan commented on #32
I think pickling is now implemented for the theory classes.  @tdimiduk, can you confirm and close this issue if it is?

[2016-08-19 18:41] barkls opened #47 "Update Docs"
The following is a non-exhaustive list of issues with doc impacts
#10
#14
#31
#32
#42
#43
#45
#46

[2016-08-19 18:42] barkls opened #48 "Installation Package"
Ideally using conda-forge

Tom has experience with Nix and may also implement that.

[2016-08-19 18:48] barkls opened #49 "API improvements"
Let's make the API more consistent and easier to use.
See issues:
#43
#32
#33

See whether we can simplify the MArray hierarchy (and come up with a better name?)

[2016-08-19 18:52] barkls opened #50 "Store Initial conditions with subset tempering"
SamplingResult should have an initial_condition property that returns initial walker positions. This needs to be preserved when saving with a specified burn-in.

[2016-08-19 18:52] barkls commented on #43
Separate Inference directory from fitting directory. Probably have to move some stuff to core that they both depend on.

[2016-08-19 18:55] barkls commented on #44
Evaluate Pull Request #24 to see if it should be merged or updated or rewritten.

[2016-08-19 18:59] barkls opened #51 "Open PRs"
Evaluate and merge/close all open pull requests.

[2016-08-19 20:10] jeromefung commented on #34
I'd have to look at my notes for details, but basically you need 1/(kz) to
be small because the radial dependence can be expanded in a series in
powers of 1/kr. Back-of-the envelope calculations for water and a 660 nm
laser give kz ~ 130 for z = 10 microns, at which point 1/kz is small but
higher-order contributions are not entirely negligible. Since we typically
operate at z ranging from several

[2016-08-22 17:07] barkls opened #52 "Ensure all tests run succesfully"

[2016-08-23 14:15] tdimiduk opened #54 "Tests of new inference code"
We should try to get at least decent test coverage of the new inference code.

[2016-08-23 18:33] #18 closed

[2016-08-23 18:40] vnmanoharan opened #56 "Copyright headers need to be updated"
Copyright headers in each file should contain all years in which the code was modified. Also the author list should probably be updated. My recommendation is that we do the author list file-by-file, and that the policy (going forward) is that if someone commits non-trivial changes to a source file, they simply add their name to the end of the Copyright statement in the header.  For the copyright y

[2016-08-23 18:44] vnmanoharan opened #57 "Copyright headers are missing on some files"
this is not an exhaustive list:
holopy/holopy/fitting/mcmc.py
holopy/holopy/fitting/noise_model.py
holopy/holopy/fitting/prior.py
holopy/holopy/fitting/timeseries.py
holopy/holopy/fitting/random_subset.py

Copyright headers should be added to each (see #56), and to any other (non-third-party) files without headers.

[2016-08-25 16:03] #57 closed

[2016-08-29 22:10] tdimiduk opened #60 "Check scattering calculations for large spheres"
PR #37 changed the how we compute the number terms for field calculations. We do not currently have any tests of large spheres which this could have affected. We should add a unit test computing scattering of a large sphere and run it against old versions of the code. @anna-wang ran a quick check and it looks ok, but it would still be good to check.

[2016-08-30 21:44] barkls commented on #16
I was not able to reproduce the bug. Slightly negative pixels seemed to be ok.

[2016-08-31 16:49] barkls commented on #41
Probably useful:  http://www.sphinx-doc.org/en/stable/ext/doctest.html

[2016-09-07 12:58] barkls opened #63 "Multisphere should be able to handle Sphere scatterer"
If Multisphere is passed a sphere scatterer, it should be able to wrap it in a Spheres() object.

[2016-09-07 13:01] barkls commented on #47
Aaron has requested a developer tutorial about how to add a scattering model.

[2016-09-07 13:03] barkls commented on #47
Aaron has requested a convenient summary of all the small helper functions built into holopy to prevent everyone rewriting them individually. Things like averaging, centerfinding spring to mind.

[2016-09-07 20:59] vnmanoharan commented on #47
We should add a section to the manual that is targeted to developers.  The helper functions should have docstrings -- if not, we should add them so that they show up in the auto-generated reference manual.  It might make sense to add an appendix to the user manual that discusses them.

[2016-09-12 17:54] #12 closed

[2016-09-12 17:55] barkls commented on #12
I just switched travis to installing pillow instead of PIL and everything seems to work fine.

[2016-09-12 20:47] tdimiduk opened #67 "Improve Scattering Theory API"
@agoldfain has requested we make it easier to add new scattering theories to holopy. Ideally what we should do is clean up and standardize the scattering theory classes a bit and then document what you need to write to add a new one (it should just be a function or two).

[2016-09-15 15:19] #16 closed

[2016-09-15 17:44] tdimiduk commented on #63
Fixed in PR #73

[2016-09-15 17:44] #63 closed

[2016-09-19 21:59] barkls commented on #50
I'm not sure if this has been done yet, but if not, it should be included in the inference API updates.

[2016-09-22 18:48] barkls commented on #29
fixed in #75

[2016-09-22 18:48] #29 closed

[2016-09-22 18:57] barkls commented on #42
fixed by #74

[2016-09-22 18:57] #42 closed

[2016-09-22 18:59] barkls opened #77 "hp.show doesn't work in python 3"
Installation of cairocffi doesn't resolve.

[2016-09-22 19:01] barkls opened #78 "Rethink saving to file"
hp.save()
-defaults to saving any holopyobject as hdf5
-option to save to yaml if preferred

hp.save_image()
-saves Image object to image file
-saves metadata if compatible format
-options to control contrast range, discretization

[2016-09-23 19:11] barkls commented on #14
This was included in #79

[2016-09-28 20:28] barkls commented on #21
I moved calc_holo() and similar functions into holopy.scattering from holopy.scattering.calculations. I considered moving the scatterers as well but decided not to until chatting about it (I hadn't noticed this issue). If we both independently thought it might be a good idea then I will go ahead and implement it.

[2016-09-28 20:31] #14 closed

[2016-09-30 17:32] barkls commented on #21
fixed in most recent commits to pr #79

[2016-10-02 12:15] vnmanoharan commented on #45
We should look into using [xarray](http://xarray.pydata.org/en/stable/why-xarray.html). Unlike pandas, it supports multidimensional data sets.  It also [supports metadata](http://xarray.pydata.org/en/stable/data-structures.html#dataarray) in that you can assign a dictionary containing the metadata to a data set. Finally, it is based on pandas, so that we would not have to rewrite the Bayesian infe

[2016-10-05 17:09] #21 closed

[2016-10-05 17:10] #60 closed

[2016-10-05 17:10] barkls commented on #78
current status:
hp.save_image() works
hp.save() only does yaml and tif

[2016-10-05 17:26] tdimiduk opened #80 "Remove old nose dependency"
/holopy/scattering/theory/dda.py", line 40, in <module>

    from nose.plugins.skip import SkipTest

that is using old nose, need to find an equivalent way of doing things with new nose

[2016-10-07 18:53] vnmanoharan opened #82 "Too many different exceptions"
We should think about coarse-graining our exceptions.  In general having exceptions for particular errors is useful only insofar as the user might want to catch that particular exception.  But we don't want a different exception for anything that can go wrong, since we have to write all those exceptions and remember their names to import them.  There are several cases in which we can coarse-grain

[2016-10-11 13:41] tdimiduk commented on #45
Yes, it looks like xarray is going to be the right way to do things. I have a very solid proof of concept that it works in my xarray branch:
https://github.com/tdimiduk/holopy/tree/xarray

I looks like it will be able to replace Marray, and give a much cleaner way of handling things like electric field components and timeseries or z stacks.

I should be submitting a PR soon.

[2016-10-11 19:00] #82 closed

[2016-10-11 19:00] barkls commented on #80
reverted everything to using nose instead.

[2016-10-11 19:00] #80 closed

[2016-10-13 18:08] barkls opened #84 "remove runtime nose dependence"
push runtime nose dependence to tests (affects dda scattering exceptions).

[2016-10-13 18:09] #52 closed

[2016-10-13 18:19] #51 closed

[2016-10-13 18:20] #49 closed

[2016-10-13 18:22] #44 closed

[2016-10-13 18:24] barkls commented on #34
From Jerome's details it looks like we nearly always need the full calculation, so this isn't relevant.

[2016-10-13 18:24] #34 closed

[2016-10-13 18:25] #33 closed

[2016-10-13 18:25] #32 closed

[2016-10-13 18:28] #27 closed

[2016-10-13 18:29] barkls commented on #27
We think everything here is resolved, especially in the upcoming version3 release. We're closing the issue but it should be reopened if these issues persist.

[2016-10-13 18:29] #20 closed

[2016-10-14 12:21] tdimiduk commented on #45
Backwards comparability question I would like @vnmanoharan's opinion on.

xarray looks like it will make it possible to eliminate most of the marray classes and code. However, loading old yaml files needs those classes to exist. So far I see two decent ways of dealing with this:

1) Eliminate the code from holopy, provide a separate tool to convert old files into new hdf5/netcdf files

2) Keep the

[2016-10-17 19:34] vnmanoharan commented on #45
Spoke to @tdimiduk offline about this, but re-capping for the record: my preference is to get rid of the legacy code, since otherwise we'll have to maintain it, and to provide a separate tool to convert between formats.

[2016-10-18 14:39] barkls opened #86 "Rethink fitting in holopy"
@vnmanoharan said: Should we get rid of the OpenOpt code? I don't think it is widely used, and if we're going to work on the fitting infrastructure, I'd rather it be based on lmfit.

[2016-10-18 14:42] barkls commented on #86
For most applications, inference will be preferable over fitting. Fitting might still be advantageous in situations where users have a very good initial guess and want to be fast. With that in mind, I think we should prioritize speed when choosing how to fit.

[2016-10-18 14:48] vnmanoharan commented on #86
There are two issues here:
1) should we get rid of the code that relies on OpenOpt?
2) should we rework the fitting infrastructure?

The OpenOpt code was added to allow people to use other minimization algorithms besides Levenberg-Marquardt (LM).  But in practice, LM is faster than most of the optimizers in OpenOpt.  And I don't know of any cases where anyone has used the OpenOpt minimizers for pu

[2016-10-18 15:19] tdimiduk commented on #86
On 1), yes I think we should get rid of the OpenOpt code. I was never that impressed with the other minimizers when I was testing it. We can get rid of that code without any other rework on fitting, it is completely modular.

On 2). I may need to poke fitting a little as part of the xarray conversion, and I might do some refactoring to share more code with inference as I actually put together an i

[2016-10-19 14:46] barkls opened #88 "multisphere with >20 spheres"
@AnnieStephenson pointed out that there is currently an upper limit of 20 spheres (specified in scfodim.for file). Is there a physical or computational reason for this hard limit?

[2016-10-19 18:55] vnmanoharan commented on #88
The Multisphere model currently relies on Fortran 77 code. Fortran 77 doesn't do dynamic memory allocation for arrays.  So what one has to do is to specify the largest size for the array ahead of time, which can be done by setting a few parameters in one of the Fortran files.  We could increase the number of spheres, but that has an impact on memory utilization even for small numbers of spheres (s

[2016-10-19 19:27] tdimiduk opened #89 "Conversion Tools for old file formats"
As discussed in #45 we are going to fork off readers for old formats (holopy yaml, older hdf5 files) into a separate repo.

I propose a name like holopy-legacy-reader, comment if you prefer something else.

My plan is that the legacy-reader will depend on modern HoloPy (as currently embodied in my xarray branch) for writing new style netcdf/hdf5 files but will contain the legacy code needed to rea

[2016-10-19 19:30] tdimiduk opened #90 "Test Data Repo"
We currently have machinery to test against full saves of holograms, fields, etc, but no good way to distribute that test data. We don't want to check in large binary files to the main holopy repository. I think it would work well to have a seperate holopy-test-golds repo (or propose another name) where we check in that data and a script to grab those files in the main holopy.

Might be worth havi

[2016-10-19 20:17] barkls commented on #90
personally, I remain unconvinced that we need to compare against a gold consisting of an entire hologram. I think a subset of 1-10 pixels to high precision should be sufficient to confirm that the same calculation has occurred. On a (slightly) related note, I have switched to including jpeg instead of tiff for new example image files.

[2016-10-19 20:18] barkls commented on #89
this sounds good to me.

[2016-10-19 20:40] barkls commented on #88
I guess the short term question then becomes: What is the memory load per sphere? It looks to me like it's at least around 10 MB just from skimming the code. We could do some memory usage tests to decide if 20 spheres is a reasonable limit for modern computers, or we can just leave it until the longer-term solution is implemented.

[2016-10-19 20:41] vnmanoharan commented on #90
JPEG is lossy, so it can't be used for tests.  But I'm not sure what you mean by "example image files."

[2016-10-19 20:53] vnmanoharan commented on #90
Also, storing the test data seems like a good use case for [git large file storage](https://git-lfs.github.com/).  I think we have at least 1 GB of LFS within the manoharan-lab organization.

[2016-10-19 20:56] vnmanoharan commented on #88
I think we can leave it up to the user.  Anyone who needs a larger number of spheres can simply fork the repository, make the change to scsmfo.dim, and then pull new revisions from the main branch if they want to keep up with changes. There should probably be a note somewhere in the documentation, though. @tdimiduk and @AnnieStephenson, any comments?

[2016-10-19 21:25] tdimiduk commented on #90
@barkls you are probably right that we don't need to compare to entire holograms. However, I am getting a failure on an intensity test that compares to 4 selected values, and am not sure how big of a problem it is, it would be much more reassuring to know that things still matched for some conditions that resembled real usage, rather that just some selected points.

[2016-10-19 21:26] tdimiduk commented on #90
@vnmanoharan should I check the full golds directly into the main repo with lfs? Or still make  a separate repo for them and use lfs there.

[2016-10-19 21:29] tdimiduk commented on #88
We set the 20 sphere number back when memories were smaller so pushing it to 40 or 50 might be reasonable. I agree with @vnmanoharan that it makes sense to include instructions on changing the value in the docs, or even provide a script to change the value and recompile (that might actually be easier than describing it in enough detail for a non expert to do the change).

[2016-10-19 21:30] vnmanoharan commented on #90
Although I did suggest using LFS, I actually have no idea how it works or what the best way to do things is. So whatever you think is best.

[2016-10-19 21:32] vnmanoharan commented on #88
OK, then I suggest doing a few tests and seeing how memory use changes as we increase the value.  Let's set an upper bound of say 1 GB of memory (so that users with 32-bit machines can still operate the code). @barkls, can you look at this?

[2016-10-19 21:33] tdimiduk commented on #88
@anna-wang did a conversion to amplitude scattering matrices of another t-matrix code for non spherical scatterers in PR #7 I don't know if that is useful for a template for converting the Mackowski F90 MSTM code?

Also, we could just teach holopy to use the scattering matrices output by the code without converting them. Not sure what the relative effort levels are.

@barkls can you get in touch w

[2016-10-19 21:39] vnmanoharan commented on #88
The default output is the scattering matrix, which gives the intensity and polarization state.  So we do need the amplitude scattering matrices, because we need the fields.  It's not too hard to do that, since the code calculates them in the course of calculating the scattering matrix.  We also need the near-field results, which shouldn't be too hard to get.  But I don't know how much effort is in

[2016-10-19 22:09] tdimiduk commented on #89
I have an initial version of this up at:
https://github.com/manoharan-lab/holopy-legacy-reader
so I will close this issue, further discussion on this subject can move to issues on that repo

[2016-10-19 22:09] #89 closed

[2016-10-20 00:37] tdimiduk commented on #90
From looking through the lfs description, it looks like it is probably fine to just use the main repository and will be simpler. The files are only a few MB, so not a big deal to download them with the repo, and using git lfs will avoid bloating up the repo if we revise them.

[2016-10-20 12:30] barkls commented on #88
I think updating to F90 MSTM code is a definite case of scope creep for the Holopy 3 release. However, if you are both confident that is what we should do, then I can start working on it.

Otherwise, I think it makes more sense to establish a new default max number of spheres and include instructions in the docs for how to increase the limit.

[2016-10-20 12:48] vnmanoharan commented on #88
I agree that for 3.0 we should simply investigate increasing the number of spheres (see my comment above).  But I also think it's a good idea to get in touch about permission to modify and redistribute MSTM, so that we can start working on another branch where MSTM replaces the F77 code. We are not prioritizing development of that branch, but without permission, we can't even start working on it.

[2016-10-20 13:49] barkls commented on #88
Sounds good, I will do both of these tasks.

[2016-10-20 14:53] tdimiduk commented on #90
I have added hdf5 files to my xarray branch (PR #91) with lfs, and it looks like it should work just fine. I think people who want do download the actual files will need to install git lfs, but if you don't install it you will just get little placeholder files, we may need to change the test functions to not error out when they see the lfs placeholders

[2016-10-20 15:31] barkls commented on #90
maybe users who don't have git lfs can compare against a subset of pixels to get the best of both worlds.

[2016-10-20 19:43] tdimiduk commented on #90
Currently what it is configured to do is check the max, min and mean values I think (which are stored in yaml files that are stored in the repository). You could switch it over if you think a subset of the pixels is a better thing to check.

@barkls Can you confirm if the tests choke on the lfs placeholder files? It is probably easier for you to check if you haven't installed it yet than for me to

[2016-10-20 20:22] #84 closed

[2016-10-20 20:23] barkls commented on #86
OpenOpt removed.

[2016-10-20 20:23] #86 closed

[2016-10-20 21:37] #56 closed

[2016-10-21 14:34] barkls opened #97 "multisphere fortran text output"
While running, the multisphere code outputs a lot of text to the terminal as it iterates through calculating scattering terms.

For most users, this text output is annoying and not useful. Under what circumstances might this information be relevant? Can we suppress this output by default unless the user is concerned about convergence of their scattering calculation?

[2016-10-21 15:07] tdimiduk commented on #97
I agree an option to suppress the output would be nice. It is coming from the Fortran, I haven't gone in and figured out how to get rid of it.

[2016-10-21 21:55] vnmanoharan commented on #97
I think we can do this from python without having to modify the fortran code.  [This Stack Overflow post](http://stackoverflow.com/questions/977840/redirecting-fortran-called-via-f2py-output-in-python) might be helpful.

[2016-10-21 22:01] barkls commented on #97
This just got merged in #98. I ended up using a solution inspired by those same posts, although not on that thread.

[2016-10-21 22:01] #97 closed

[2016-10-25 18:23] jeromefung commented on #97
Sorry I haven't really been paying attention to all the HoloPy changes (I
assume we're trying to release a new version?). Getting rid of the output
would indeed require going in to the Fortran code. We'd also need to change
the interface between our Python code and the Fortran -- presumably we'd
pass a variable that would let the user choose whether or not to print out
that stuff.

Jerome

On Fri,

[2016-10-25 18:43] tdimiduk commented on #97
Sorry for tagging you there Jerome, Solomon found a way to suppress it from
python

On Tue, Oct 25, 2016, 14:24 Jerome Fung <notifications@github.com> wrote:

[2016-10-25 23:04] vnmanoharan opened #101 "Implement and document cascaded free-space propagation for reconstruction"
Commit cb3491a deleted the old cascaded free-space propagation code for reconstruction. This code was very old and was rarely used, perhaps because the feature was poorly documented.  But I think it is an important feature for reconstruction. The idea (described in [1]) is as follows: say you want to reconstruct your object at a distance of 10 microns.  Instead of calculating the transfer function

[2016-10-26 10:27] tomdertech opened #102 "lensfree holopy"
I have been experimenting with using the holopy library to reconstruct images captured using a "lensfree" microscope arrangement. In the simplest arrangement I record a single image from one light point (axis-normal) and wish to reconstruct at different Z depths. Ultimately, I will want to combine images from multiple light points to create a high resolution hologram for reconstruction.

From look

[2016-10-26 17:49] barkls commented on #102
Hi Tom,

We are glad you have found HoloPy useful for your work! We are actually in the process of preparing a new release of HoloPy (v3.0) that will hopefully be more intuitive to use and also introduces a bunch of new features. Unfotunately, this update won't be backwards compatible, so you will have to make some adjustments to your code in order to use it. Stay tuned over the next few weeks for

[2016-10-26 18:07] vnmanoharan commented on #102
@agoldfain, did you ever end up writing a reconstruction routine that might be useful for diverging beams?  I seem to recall you working on something like that.

[2016-10-26 18:31] tomdertech commented on #102
@barkls @vnmanoharan I am so pleased this is still active :-)
Would you be as so kind to let me know what v3.0 holds - especially around the problem I am investigating? It would be a shame for me to be writing routines that might be available in the coming weeks. Any implementations for a lensfree microscopy, angular spectrum method, diverging beam?

From my python code and results what would you

[2016-10-27 04:04] agoldfain commented on #102
Hi Tom,

@vnmanoharan is right. A few years ago I wrote some code to implement a reconstruction for a lensless holographic microscope using one on-axis point source as the illumination. It follows the algorithm described here http://link.springer.com/chapter/10.1007%2F978-3-642-15813-1_1 .
I will track down my code, make sure I can still run it, and share it with you (hopefully within a week). I w

[2016-10-27 14:44] tdimiduk opened #104 "Xarray performance"
It appears naive use of xarray is hurting our performance. Tests are taking longer to run (I don't have a detailed comparison yet).

I have some not scientific comparison of inference subset tempering where the new code takes over 30s  for subset tempering stages and the old code took 2-3s.

It doesn't seem like as big of an issue on larger calculations (hopefully the fortran runtime still dominat

[2016-10-27 14:59] tdimiduk commented on #54
I had to regold the one test we have. I am not too worried because it is a random tempering test with small enough everything that I would not be surprised to see some changes.

However, this is a sign that it would be good to do some more extensive testing of inference before releasing.

[2016-10-27 15:23] tdimiduk commented on #102
@tomdertech The v3 release will not contain any improvements to the reconstruction code, sorry. Its main new capability is a Bayesian inference framework for estimating parameter values from holograms. The major version bump is because HoloPy is switching from python 2 to python 3 and switching to base off of a new array library called xarray and changing some interfaces to benefit from that.

[2016-10-27 16:33] tomdertech commented on #102
@agoldfain your code might be useful in whatever state ;-) I am going to check out the paper you referenced. 4deep looks very interesting. Keep me posted on what you find.
@tdimiduk thank you for the heads up :-)

[2016-10-27 17:32] #45 closed

[2016-11-01 15:44] tdimiduk commented on #78
hp.save now saves anything xarray derived (so anything with potentially large amounts of array data) as hdf5.

[2016-11-10 19:44] barkls commented on #104
It looks like we are still having performance issues with the to_spherical function. Current thinking is to have it take and return numpy arrays of coordinates rather than full xarrays.

[2016-11-10 20:06] barkls opened #112 "Rename Schemas"
Schema objects (Image, ImageSchema, angles_list) have been replaced with functions that create xarray DataArrays. Their names no longer accurately describe what they do or how users interact with them.

Proposed changes:
ImageSchema --> detector_grid
angles_list --> detector_points
Image --> data_grid

[2016-11-10 21:42] tdimiduk commented on #67
As things stand right now, you should inherit from ScatteringTheory, you need to implement _raw_fields or _raw_scat_matrs. That will give you ability to use calc_holo, calc_intensity, and calc_fields (and calc_scat_matrix if you implement _raw_scat_matrs). If you want calc_cross_sections to work you also need to implement _raw_cross_sections.

[2016-11-10 21:43] #78 closed

[2016-11-10 21:43] #90 closed

[2016-11-10 21:46] #102 closed

[2016-11-17 16:43] barkls commented on #46
deleted fitting/fit_series.py file to fit timeseries, since it has been neglected during (and prior to) the transition to xarray. This functionality will probably be restored at some point,  but will need to be largely rewritten. Since it's rarely used at the moment anyway, we are not prioritizing for the 3.0 release. Most recent file is available at:

https://github.com/manoharan-lab/holopy/blob/

[2016-11-17 16:47] barkls opened #114 "gui_manipulate deleted"
Becca wrote a gui to visualize holograms of single spheres as parameters are changed interactively. This code has not been updated in a long time, and will not be included in the 3.0 release.

If this functionality is ever needed, the most recent file is available at:

https://github.com/manoharan-lab/holopy/blob/a083103a818d26d370e19bad0f3166b01c700f59/holopy/vis/gui_manipulate.py

[2016-11-17 19:38] #112 closed

[2016-11-17 22:09] tdimiduk commented on #11
Closing for now since we are de-emphasising fitting in favor of inference. Someone can re-open this if we decide it is desirable again.

[2016-11-17 22:09] #11 closed

[2016-11-22 21:18] #50 closed

[2016-11-29 17:51] barkls opened #124 "Centerfinder and subimage"
Should be able to work with xarray coord values as well as pixel positions.

[2016-11-29 17:52] #101 closed

[2016-11-29 17:52] #104 closed

[2016-11-29 18:55] trinberg opened #125 "ipython notebook, matplotlib, and inline"
In "loading and viewing a hologram" - you could make clear that an ipython notebook could be used and that if you do use ipython, you should add these lines so that you can see the image in the notebook:
[code]

It's not a very complicated addition, but I do think that it will help some people who are not used to using ipython.

[2016-11-29 19:04] trinberg opened #126 "Background Image"
Consider providing the code for displaying the background image, so people can compare and understand it's significance:

[code]

[2016-11-29 19:23] AnnieStephenson opened #127 "Plotting Reconstruction in Spyder"
In spyder, when we run:

zstack = np.linspace(1, 15, 8)
rec_vol = hp.propagate(holo, zstack)
hp.show(rec_vol)

It only shows one slice instead of 8. We cannot use the arrows to switch between the images. When we try to specify showing just one of the images, it gives an error.

[2016-11-29 19:28] tdimiduk opened #128 "Getting fortran working on a mac"
gfortran may put its library in a place python can't find it. If you get errors including something like

can't find /usr/local/libgfortran.3.dynlib

you can symlink them in from your install, so for example I did

sudo ln -s /usr/local/gfortran/lib/libgfortran.3.dynlib /usr/local/lib
sudo ln -s /usr/local/gfortran/lib/libquadmath.3.dynlib /usr/local/lib

[2016-11-29 19:57] trinberg commented on #10
Talking with Victoria, it looks like the way to make this clear is to put in a 3d picture in the docs showing the detector, the particle, and the light coming in.

[2016-11-29 19:59] trinberg commented on #10
We should also make link to the coordinates page from somewhere in the scattering tutorial because people thinking about scattering are the most likely to need to know about the differing z conventions.

[2016-11-29 20:05] barkls opened #129 "bg_correct - what does it do?"
Clarification about what specific operations it's doing. link to code from docs isn't currently working.

[2016-11-29 20:06] barkls opened #130 "better clarification of shape vs spacing"
both will make the image larger if increased, but are fundamentally different.

[2016-11-29 20:06] barkls opened #131 "what is propagation"
It should be more clear what propagation is doing, and why you might want to do it.

[2016-11-29 20:08] barkls commented on #127
plotting multiple z stacks works well in ipython, ok in jupyter, not at all in spyder. We need to test across different python platforms.

[2016-11-29 20:08] barkls opened #132 "why pass an image to a scattering call?"
make clear what information we are getting from the image, and why this might be useful.

[2016-11-29 20:09] tdimiduk commented on #125
We actually only need the %matplotlib inline line because holopy already imports matplotlib.

More generally, we should probably have a page pointing people at jupyter and spyder and giving some quick pointers at how to use holopy with them.

[2016-11-29 20:09] barkls opened #133 "subimage in calc_tutorial docs"
currently crops the image so the particle is outside the field of view. need to change.

[2016-11-29 20:10] barkls opened #134 "hp.show with different dimensionality"
we should be able to hp.show a slice of a volume stack. There are multiple ways to take a slice and they should all work.

[2016-11-29 20:13] barkls opened #135 "Aaron's lens-free propagation"
This code is ready, but isn't updated for xarray. It needs to be converted.

[2016-11-29 20:14] #129 closed

[2016-11-29 20:14] barkls commented on #126
the link to the code reference from the docs is not currently working.

[2016-11-29 20:17] barkls commented on #47
The front-matter of HoloPy also needs updating - quick summary of what it is, references, funding sources, etc...

[2016-11-29 20:27] barkls commented on #128
probably conda will handle this issue for us and users don't need to worry about it.

[2016-11-29 20:32] barkls commented on #127
probably one the the following will work:

%matplotlib tk
%matplotlib qt
%matplotlib gtk

@AnnieStephenson can you try this out?

[2016-11-29 20:34] barkls commented on #127
In Jupyter, you can get interactive plots by doing:

%matplotlib nbagg

[2016-11-29 20:43] barkls commented on #126
get links working in readthedocs. Emphasize link in docs. Update docstring for details.

[2016-11-29 20:51] barkls commented on #43
A couple docs comments:

1) code should all run in < 1min. Emphasize that these are not parameters to use for actual data
2) noise_sd variable should be better assigned - use add_noise function
3) doctest.

[2016-11-29 20:55] barkls commented on #47
dev guide topics
1) how to add a scattering model
2) how to add an inference model (and mention this in inference page)
3) xarray rationale - how information is stored in xarray objects - 'flat' vs 'point', saving xarrays in attrs,

[2016-11-29 20:56] barkls opened #136 "apidocs not working on readthedocs"
We have no docstrings! or code...

[2016-11-30 19:04] vnmanoharan opened #142 "HoloPy won't compile on Windows with Anaconda and gcc"
I installed the MinGW gfortran from anaconda.  Also installed Visual C++ Build Tools from Microsoft.  Tried to build with
`python setup.py build_ext --inplace --fcompiler=gfortran`
Result is that f2py works, but linking fails:
[code]

Also tried to build with gfortran + MinGW C compiler (instead of MSVC):
`python setup.py build_ext --inplace --compiler=mingw32`
But this fails with
[code]
I looked

[2016-12-01 19:08] AnnieStephenson commented on #127
These commands cause a syntax error. A manual fix I found is to go to Tools > Preferences, then IPython console in the list of categories on the left, then the tab Graphics at the top, and change the Graphics backend to Qt.

[2016-12-05 17:54] tdimiduk commented on #54
The issues I was running into last week turned out to be a problem with my test notebook not the code. Inference is not extensively tested, but I think we have enough tests in that I am going to close this issue.

[2016-12-05 17:54] #54 closed

[2016-12-05 18:12] tdimiduk commented on #40
The new odyssey module system will not let you have both gcc and intel compilers loaded at the same time, which both makes this issue difficult to fix and probably not relevant any more.

I am closing this because it probably won't come up any more, but feel free to reopen if it does.

[2016-12-05 18:12] #40 closed

[2016-12-05 18:27] tdimiduk opened #144 "Re-enable Internal Fields"
We have currently lost calculation of internal fields. I don't think they are extensively used, so I think we are going to release 3.0 without them, but it would be good to port that code from 2.x to the 3 version at some point.

[2016-12-08 15:32] #67 closed

[2016-12-08 15:33] #43 closed

[2016-12-08 21:00] barkls commented on #124
On second thought, I'm not sure this is the best idea for a couple reasons:

1) hp.show gives images with coordinates in terms of pixel position, and let's you click to find coordinates, which is currently the best way to compare to centerfinder results or choose a subimage.

2) image processing should be able to handle xarrays or numpy arrays the same way. It seems a little odd to add arguments t

[2016-12-10 23:37] vnmanoharan opened #148 "Add T-matrix calculations for non-spherical scatterers"
Anna had written a wrapper around Michael Mishchenko's Fortran code for axisymmetric scatterers, but it was too out of sync with the current codebase to merge (see #7).  I'm filing this issue so that we don't forget about this.

[2016-12-13 21:48] barkls commented on #127
%matplotlib commands work with the caveat that you can only have one matplotlib backend per ipython kernel. This has the following repercussions:

-You must use %matplotlib before using hp.show(), since spyder chooses a backend for you when you use hp.show()

- If you try to set a backend that isn't installed, you cannot subsequently set to a new one, but have to restart the kernel.

- nbagg corre

[2016-12-15 18:31] barkls commented on #136
addressed by PR #147.

[2016-12-15 18:31] #136 closed

[2017-01-11 20:24] barkls commented on #135
fixed by #151

[2017-01-11 20:24] #135 closed

[2017-01-11 20:24] #134 closed

[2017-01-11 20:24] #133 closed

[2017-01-11 20:24] #132 closed

[2017-01-11 20:24] #131 closed

[2017-01-11 20:24] #130 closed

[2017-01-11 20:25] #127 closed

[2017-01-11 20:25] #126 closed

[2017-01-11 20:25] #125 closed

[2017-01-11 20:25] #124 closed

[2017-01-11 20:26] #41 closed

[2017-01-11 20:26] #10 closed

[2017-02-09 06:59] ralex0 commented on #142
I was able to get this working on Windows 10 with an AMD64 architecture (64-bit) processor.

Here's a quick draft of what I did. I started from a fresh user account with nothing installed.

1. Installed Anaconda, made sure it's working

2. Installed the C compiler. It's included in [Visual Studio 2015 Community](https://www.visualstudio.com/downloads/). Made sure it was working with a C helloworld

[2017-02-14 18:09] barkls opened #153 "Inconsistency between prior.Gaussian and prior.Uniform"
Currently, priors are specified as follows:

prior.Gaussian(mean, width)
prior.Uniform(lower_bound, upper_bound)

I propose changing prior.Uniform to take the same arguments as prior.Gaussian:
prior.Uniform(mean, width)

Was this inconsistency intentional to emphasize that these two priors are distinct?

[2017-02-14 18:21] tdimiduk commented on #153
They are specified that way because those are the terms you think about
when defining the priors. That is how things are done in the math, at least
as far as I have seen, so I think the inconsistency here is less important
than staying consistent with standard usage of the priors.

Uniform has some known region in which the probability is nonzero, but
knows nothing more. If you know a point and so

[2017-06-05 17:54] #153 closed

[2017-06-05 18:01] barkls opened #156 "3D visualization"
The 3.0 release does not support or test any 3D visualization with mayavi. It should be possible to get it working though. Here are some notes from vnm dated 2017-04-11:

mayavi seems to be working on python 3.  To use it I had to do the
following (in anaconda on Windows):

conda install -c conda-forge mayavi
conda install -c conda-forge pyside
conda install -c conda-forge qt

Then you can run may

[2017-06-05 20:55] barkls opened #158 "Simultaneous inference from 2 hologram colours"
This should be relatively straightforward with xarray - we will need to change wavelength from an attribute to a dimension for these images,  and propagate how to handle this object through all code. Scattering and inference calculations will need to know how to behave appropriately.

[2017-06-05 21:01] barkls opened #159 "Rigid cluster rotations"
Currently, there is no way to link parameters in a fit or inference calculation unless the parameters are identical. It would be useful to define a rigid cluster of spheres that can translate and rotate without the relative positions of the spheres changing.

Easiest implementation is probably to define a new scatterer class with its own from_parameters method that explicitly calls spheres.from_pa

[2017-06-12 19:55] barkls opened #168 "ps reconstruction test gold file lfs issues"
point source reconstruction h5 file cannot be cloned on computers without git lfs.

Possibly not tracked properly?

[2017-06-12 20:33] barkls opened #171 "saving inference results doesn't work"
Something about vector xarray object cannot be written to hdf5. This is a problem in the io conversion process.

[2017-06-12 20:55] charlieGreboval commented on #171
I run the command (hp.save('example-sampling.h5', result)) from the tutorial and I got this error:
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-7-e52fff101369> in <module>()
----> 1 hp.save('example-sampling.h5', result)

C:\Users\Charlie\Anaconda3\lib\site-packages\holopy\core

[2017-06-12 21:45] barkls commented on #168
hopefully fixed by number #175

[2017-06-12 21:56] #168 closed

[2017-06-12 22:16] barkls opened #179 "update readme.rst"

[2017-06-12 22:19] #179 closed

[2017-06-13 16:00] barkls commented on #171
Also need to write about this in the docs on the dev page.

[2017-06-13 16:00] barkls commented on #171
Also need to fix the infer_tutorial guide.

[2017-06-13 17:17] barkls opened #180 "Visualization update"
Remove 3d Visualization code, or tag it as experimental.
Mayavi hasn't been tested with python 3.
It's not clear whether or not this code would work with the most recent version of HoloPy.

Ellen has done some work on this.

[2017-06-13 17:18] barkls opened #181 "Windows conda build"
Hopefully we can get this working for non-developers wanting to install on Windows.
We should also update the windows installation documentation.

Ron is working on this.

[2017-06-13 17:19] barkls commented on #181
@ralexander

[2017-06-13 17:19] barkls commented on #181
@ralex0

[2017-06-13 17:21] barkls opened #182 "Update adding a new inference model"
update the methods of inference model classes. Update documentation to explain how to add a new model.  @tdimiduk is working on this.

[2017-06-13 20:08] ralex0 commented on #181
I was able to successfully build and install a holopy Anaconda package (preferred built distribution format as suggested by @vnmanoharan) on my win-64 python 3.6 environment.

But I suppose I should wait until all the other issue on the milestone have been closed before doing the official build, right?

[2017-06-13 20:16] vnmanoharan commented on #181
We should test it before the final release, to make sure it works on other (Windows) machines.  Not sure if GitHub has a mechanism for doing this, so you might want to email it to me and @barkls to test.

[2017-06-13 20:20] jeromefung commented on #181
Hi Ron --

Out of curiosity, what ended up being the solution to the issue with the
scipy.special spherical Bessel functions we were running into yesterday?

Best,
Jerome

On Tue, Jun 13, 2017 at 4:08 PM, Ron Alexander <notifications@github.com>
wrote:

[2017-06-13 20:21] barkls commented on #47
Fixed by # 184. I went through the list of all things mentioned in this thread to make sure they are addressed. Any outstanding docs issues (mainly additions) have their own issues at this point.

[2017-06-13 20:21] #47 closed

[2017-06-13 20:23] barkls commented on #181
fyi conda-forge uses a continuous integration platform called appveyor to test Windows builds.

I don't know how easy it is to set up, or if it is even free, so I agree the best option is to send it to me and Vinny.

Jerome: I'm not certain what the final resolution was, so I defer to @tdimiduk

[2017-06-13 20:26] ralex0 commented on #181
I'm not allowed to upload the file to gmail because it's executable code, but zipping it and uploading here works.

[holopy-3.0-0.tar.zip](https://github.com/manoharan-lab/holopy/files/1072794/holopy-3.0-0.tar.zip)

I believe all you have to do is drop this in `~\Anaconda3\conda-bld` or equivalent, then do `conda install --use-local holopy`

[2017-06-13 20:37] ralex0 commented on #181
@jeromefung I think building scipy yourself from the source might fix it, but I have not confirmed.

If you recall, our issue is a duplicate of scipy/scipy#7002 and it seems they determined that it's a problem with Anaconda's scipy build. The open issue is ContinuumIO/anaconda-issues#1415.

I think for now we decided to skip that test for Windows users. @tdimiduk suggested using `nose.SkipTest`, b

[2017-06-13 20:54] vnmanoharan commented on #181
I was able to install it on Windows 10 build 15063 by unzipping first, then installing with "conda install holopy-3.0.0.tar.bz2".  But after running `import holopy` from python, I get the following error:
[code]
@ralex0, could you verify that the scattering module imports correctly for you, and that you are able to do scattering calculations?  If so I will try to debug the error.

[2017-06-13 22:06] ralex0 commented on #181
I got the same warning, so I want to investigate as well. I also got this warning when I install from a Windows (.exe) built distribution, but in that case, the scattering code worked in the sense that

1. I could run all the code from the scattering tutorial (maybe @charlieGreboval can confirm as he installed from an exe) and
2. Almost all of the nosetests pass. One of the exceptions is the test

[2017-06-13 22:39] barkls commented on #181
Try running ``from holopy.scattering import Mie``. If that works, then the scattering code should be correctly compiled.

I can help with a skiptest if you can't get it working.

[2017-06-13 22:39] vnmanoharan commented on #181
Here is some more info. The problem seems to lie in loading any of the .pyd extensions generated by the fortran compiler.  If I run `from holopy.scattering.theory import mie`, for example, I get
[code]
So I am missing a library (DLL) required for the module to load.  I opened up a shell and ran `dumpbin /dependents mieangfuncs.cp36-win_amd64.pyd` (dumpbin is a Visual C utility), which told me:

[c

[2017-06-13 22:49] vnmanoharan commented on #181
Update: it looks like `libifcoremd.dll` and `libmmd.dll` are the missing DLLs.  These are DLLs that the Intel fortran compiler links to. @ralex0, which version of the Intel compiler did you use?  They have links to DLL files that can be downloaded by end-users of Intel-compiled applications, but I am not sure which link to choose.

[2017-06-13 23:07] ralex0 commented on #181
@barkls:
Something went wrong I suppose. I don't really know how to use SkipTest, so if it's a 2 min thing for you to do, you can edit the file. The test I was referring to is `test_dda.py:test_dda__2_cpu`. I think all is needs is a `if os.name == 'nt'`...

For the curious, here's what happens:
[code]

I just checked and 'm on numpy 1.11.3 (11=b I surmise). IIRC holopy requires numpy>1.12 so I thi

[2017-06-13 23:07] ralex0 commented on #181
Maybe looking into this numpy thing will fix Vinny's problem too but:
@vnmanoharan:
I have installed Intel Parallel Studio 2017 to get the Intel Fortran compiler (ifort). The specific version of ifort is Version 17.0.2.187 Build 20170213. If the libraries they have on their website work, maybe we can include them in a holopy/dist directory.

[2017-06-13 23:19] barkls commented on #181
numpy >= 1.12 is required for Multisphere calculations, but Mie should work fine on numpy 1.11.

[2017-06-13 23:38] ralex0 commented on #181
@barkls For curiosity and posterity, do you happen to know what specifically changed between numpy 1.11 and numpy 1.12 that make the Multisphere calculations possible? Is this mentioned anywhere?

[2017-06-13 23:55] barkls commented on #181
I don't know. I think it has to do with the xarray upgrade to 9.0 but I'm not 100% sure on that. I didn't spend too much time tracking down the specific cause since it works on 1.12.

[2017-06-14 12:07] vnmanoharan commented on #181
@ralex0, can you try to generate a conda package that is statically linked to the intel fortran libraries?  That will probably be the easiest option for redistribution.  There should be a compiler switch you can use to enable static linking.

[2017-06-14 13:44] barkls commented on #128
This tip is now included in documentation.

[2017-06-14 13:44] #128 closed

[2017-06-14 14:36] barkls commented on #142
These instructions are now included in the documentation. Further discussion of Windows installation has moved to #181 so I'm closing this issue.

[2017-06-14 15:00] vnmanoharan commented on #142
I'm reopening but I'm changing the issue title.  It's still a problem that holopy requires the intel compiler.

[2017-06-14 16:24] ralex0 commented on #181
@vnmanoharan [Try this one.](https://github.com/manoharan-lab/holopy/files/1075253/holopy-3.0-0_testbuild.tar.zip) I installed from it, and I did not get any Fortran warnings this time. Additionally `from holopy.scattering import Mie` works.

[2017-06-14 17:56] vnmanoharan commented on #181
I get the same error, `ImportError: DLL load failed: The specified module could not be found.`.  Likely it works on your computer because you have the Intel libraries installed already. I do not, so I either have to install them myself or use a statically-linked version of the package.  It will be much easier to distribute if the libraries are statically linked.  Can you try building a package wit

[2017-06-14 18:01] ralex0 commented on #181
Okay I'll try some more. I though I had set it to statically link, but I think something went wrong.

[2017-06-15 13:28] barkls commented on #182
Hey @tdimiduk, are you going to have a chance to work on this? We are aiming to have the release wrapped up tomorrow (Friday). If you won't have time to make these changes, let me know and I will give it a stab. After our discussion at the hackathon, I'm fairly confident I could do it myself.

[2017-06-15 13:32] tdimiduk commented on #182
I'll whip what I have into some kind of shape and submit it soon (hopefully
<1 hour). You may want to edit/improve/expand it.

On Thu, Jun 15, 2017 at 9:28 AM, barkls <notifications@github.com> wrote:

[2017-06-15 14:12] barkls commented on #182
Thanks!

[2017-06-15 14:12] #182 closed

[2017-06-15 18:35] barkls commented on #180
Fixed by #187.

[2017-06-15 18:35] #180 closed

[2017-06-15 18:35] #171 closed

[2017-06-20 07:03] vnmanoharan commented on #181
@ralex0: any updates?

[2017-06-20 12:24] ralex0 commented on #181
I haven't gotten those Intel libraries to be statically linked in yet. It seems like ifort ignores the options I pass because when I examine the pyd files in  `holopy/scattering/theory/mie_f` it shows dependencies on those Intel libraries. It has led me to think the compiler/linker options are being overwritten by something else. If I recall, the only thing that takes precedence over local variabl

[2017-06-21 12:13] vnmanoharan commented on #181
@ralex0: It looks like the option to pass is `-static-intel` (see https://stackoverflow.com/questions/33781867/compile-and-link-fortran-and-c-with-ifort-and-icc).  That should statically link the intel libraries and dynamically link everything else.

Interestingly, I also found out that in Anaconda3\Library\bin I already have copies of libmmd.dll and libifcoremd.dll (probably installed with numpy/

[2017-06-21 13:07] ralex0 commented on #181
@vnmanoharan
Interesting that you have the DLLs. I wonder if the linker knows to look there? When I check the built pyd/dll files for dependencies, it always points to the DLLs I have stored under `"Program Files (x86)\IntelSWTools"` even though the Anaconda bin directory comes first in my PATH. You're probably right about it being the wrong version. I suppose we could also include libraries in a

[2017-06-21 13:27] vnmanoharan commented on #181
It looks like you might also have to specify the switch `/MT`, and you might also have to specify the statically-linkable version of the library, which is `libifcoremt.lib` (note the `mt` on the end instead of `md`) and `libmmt.lib` on the command line; see http://csbi.mit.edu/technology/intel_fce/doc/main_for/mergedProjects/bldaps_for/common/bldaps_compile_mthread.htm.  The `/MD` switch is now de

[2017-06-21 19:14] ralex0 commented on #181
@vnmanoharan @barkls
How about this build?
[holopy-3.0-1.tar.bz2.zip](https://github.com/manoharan-lab/holopy/files/1092621/holopy-3.0-1.tar.bz2.zip)

[2017-06-22 12:27] LaurentRDC commented on #148
Hi all,

My group and I are interested in getting this done. I'm not familiar with Holopy, so any pointers as to what is different now from then is appreciated.

[2017-06-22 17:20] anna-wang commented on #148
Hi Laurent - thanks for your interest! Are you hoping to calculate
holograms, or just get the scattered field? If it's the latter, looking at
the wrapper I wrote all those years ago will give you an idea of the input
Mishchenko's code requires. All the changes I made are in the headers of
the Fortran files.

At the moment I can't comment on how HoloPy has changed, but I'll have more
time in a mont

[2017-06-22 20:36] LaurentRDC commented on #148
We are looking to fit holograms to scattering from, say, a cylinder. I'll play around and report back.

[2017-06-22 20:45] barkls commented on #148
Hi Laurent,

I am the current maintainer of HoloPy, so I am up to date on its current status. Please don't hesitate to reach out with any questions you may have.

We have just finished a release of HoloPy that was not backwards compatible, so that's why Anna's code needs a bit of work to make it usable. The best way to get a feel for the current status of HoloPy is to go through the tutorials in o

[2017-06-22 21:31] barkls commented on #181
Same error. Sorry.

[2017-06-22 22:02] vnmanoharan commented on #181
@ralex: same error here too, but the package does seem to be statically linked to the intel libraries now.  I'm going through with [Dependency Walker](http://www.dependencywalker.com/) to see if I can get more information on what's going wrong with the DLL load.

[2017-06-22 22:25] vnmanoharan commented on #148
@barkls, it looks like there are still some binary files (.o and .exe) lying around.  Can you make a new branch just by adding the source files, but without any of the revision history from the previous branch?  That will keep the repository clean (having the .exe and .o files in the revision history bloats the repo, regardless of whether they're in the current working tree).

@anna-wang, do we ne

[2017-06-23 00:48] barkls commented on #148
Yes, I intentionally left those files for now. Without a functioning setup.py, it might be difficult to build them from source and Anna was at least able to use the .exe to get code to run previously. If it's easy to reproduce them then I agree they should be removed from the repository.

From my cursory look earlier, it appears fairly straightforward to get this code functioning in the most recen

[2017-06-23 00:53] vnmanoharan commented on #148
It's trivial to compile the code and produce the .o and .exe files -- it's one line to be typed at the command prompt. No setup.py is needed, at least for now.

[2017-06-23 00:59] vnmanoharan commented on #148
Also, it's not a matter of removing the binaries from the repo, because they are still in the revision history and will unnecessarily bloat the repository. So I'd like us to have a new branch with just the source files added, and we can work from there.

[2017-06-23 01:58] vnmanoharan commented on #148
Confirmed that code compiles with gfortran using the following line:
[code]
for double precision code,
[code]
for extended precision. Compiled on Windows 10 with gfortran installed from anaconda.

[2017-06-23 05:03] anna-wang commented on #148
My memory is terrible, but I think I used the double precision code because
I couldn't compile the extended precision code with gfortran at the time (I
had to use Intel's fortran compiler). The double precision code is fine
until the aspect ratio of the particles gets larger than ~5 for particles
with size parameter ~5, then it has convergence issues.

I also think the extended precision code is s

[2017-06-23 13:24] barkls commented on #148
I've updated [my branch](https://github.com/barkls/holopy/tree/tmatrix) to include only the raw T-matrix code files, added to HoloPy3 as a single commit.

[2017-06-30 17:40] barkls opened #194 "Multisphere calculations return NaN"
There is a bug that has happened on Travis under a few circumstances (but never observed on an actual machine).

Some, multisphere calculations return NaN, resulting in test failures. Other multisphere calculations run normally. This bug happened for a while when using numpy 1.11 after upgrading to xarray 0.9. It has also inconsistently occurred on python3.6 with numpy 1.12.

Strangely, compiling

[2017-06-30 17:55] jeromefung commented on #194
I agree that this is going to be a pain to debug if it only happens
intermittently and in Travis. Out of curiosity, is it the same test or
tests that fail consistently, or does it seem random? About what fraction
of the time would you estimate this to be happening?

Jerome

On Fri, Jun 30, 2017 at 1:40 PM, barkls <notifications@github.com> wrote:

[2017-06-30 20:49] barkls commented on #194
It is usually the same tests, but not always the same number that fail.
Interestingly, low level tests have always passed, so the code is compiled,
it's just not passing values around properly. On builds that aren't
working, tests fail about 50-80% of the time, so it's not a rare one-off
problem that would go undetected.

On Fri, Jun 30, 2017, 13:55 Jerome Fung <notifications@github.com> wrote:

[2017-07-02 13:42] vnmanoharan opened #195 "Error in development guide and/or scatteringtheory.py"
In the "Adding a new scattering theory" section of the Developer's Guide, it says

This does not appear to be correct. If one defines `_raw_scat_matrs()` in a new theory, that does not allow calculation of the holograms, fields, or intensities, since the `_calc_field()` method of `ScatteringTheory` assumes that the subclass defines `_raw_fields()`.

The problem seems to be that there is no default

[2017-07-06 13:14] vnmanoharan commented on #148
@LaurentRDC, @barkls, @anna-wang:
I've made some fixes to the code, which is available in [my branch](https://github.com/vnmanoharan/holopy/tree/tmatrix). Unfortunately I can't test it, since `mieangfuncs` cannot yet be compiled on windows. Can someone test the code on Mac or Linux to see if it works? Here are some instructions:

1) `git clone` my repository and `git checkout` the tmatrix branch
2

[2017-07-06 13:41] jeromefung commented on #148
holo_spheroid doesn't match -- but it looks like a scatterer coordinate
issue to me. See the attached.

Compilation proceeded with no errors, but I did get the following warning
when running example_tmatrix.py:

Note: The following floating-point exceptions are signalling:
IEEE_UNDERFLOW_FLAG IEEE_DENORMAL

This was carried out on a Mac running OS 10.10.5, Python 3.5.3, and
gfortran 4.9.3.

Jerome

[2017-07-06 21:11] ralex0 commented on #181
I have installed that build on an entirely different Windows 10 64-bit installation. I didn't get any import errors, what DLLs does it say that you are missing?

[2017-07-07 08:45] vnmanoharan commented on #148
@jeromefung, thanks for trying it. The attachment doesn't seem to have come through, though.  Can you try adding it directly to a new post on the [issue page](https://github.com/manoharan-lab/holopy/issues/148)?

[2017-07-07 10:39] vnmanoharan commented on #181
Apparently the problem is that I'm on Python 3.5, and the package was compiled with Python 3.6.  `dumpbin /dependents mieangfuncs.cp36-win_amd64.pyd` shows the following:

[code]
I'll update to 3.6 and see if it works.

[2017-07-07 12:25] jeromefung commented on #148
@vnmanoharan, here's the attachment.

![holo_spheroid](https://user-images.githubusercontent.com/7784176/27957742-c70053ce-62ed-11e7-8649-0d6fd6891a81.png)

[2017-07-07 14:43] anna-wang commented on #148
Hi everyone,

I get what Jerome got, but looking at example_tmatrix.py I think the
original image that we're comparing it against is wrong.

The COM coordinates are (10,10,20)
The pixel spacing is 0.1/pixel
The image width is 100 pixels
So in pixels, the COM should be at (100,100)

i.e. the COM should be the bottom right corner, which it is.

Anna

On 7 July 2017 at 08:25, Jerome Fung <notificatio

[2017-07-07 16:28] vnmanoharan commented on #148
@anna-wang, @jeromefung: looks like I put the wrong detector size in the example script.  The original image was 200x200, and the current one is 100x100.  I've pushed a fix to my branch.  Can you fetch the changes and try again?  Or just change the line in `example_tmatrix.py` that reads
[code]
to
[code]

[2017-07-07 16:50] vnmanoharan commented on #181
I upgraded to Python 3.6, and I now get the following error:
[code]
@ralex0, how did you solve your numpy problems?  I am running numpy 1.12.1.

[2017-07-07 16:53] ralex0 commented on #181
@vnmanoharan
Upgrade to numpy 1.13 and then try to import.

[2017-07-07 17:41] jeromefung commented on #148
With the new pull, my `holo_spheroid` matches (visually) @anna-wang 's original example.

[2017-07-07 18:00] anna-wang commented on #148
Yes it agrees for me now too. I forgot to mention earlier that I too get
the warning Jerome gets:

Note: The following floating-point exceptions are signalling:
IEEE_UNDERFLOW_FLAG IEEE_DENORMAL

On 7 July 2017 at 13:41, Jerome Fung <notifications@github.com> wrote:

[2017-07-07 18:34] vnmanoharan commented on #148
I get that error too, but at least it seems to be working now.  Thanks for the help.  I still need to clean up the scatterer classes.  Each option for the axisymmetric shapes in the T-matrix code should be mapped onto its own class.  Also need to figure out how to get the executable to build using setup.py.

[2017-07-07 20:01] ralex0 commented on #181
You can install my latest build with `conda install -c ralex0 holopy`
It requires numpy 1.13, but I have disabled the version check beacause a lot of the default packages in Anaconda require numpy 1.12 and it is not trivial to resolve dependencies.

[2017-07-07 20:18] vnmanoharan commented on #181
Thanks - still trying to get upgraded to numpy 1.13 (keep getting "UnsatisfiableError" from conda).  I was able to install holopy from your channel.  A couple of notes:

- had to install `h5cdfnet` from conda-forge. There is no version that works on windows in the main conda channel
- had to install `pyyaml` and `yaml` from conda-forge. I had these installed from the main channel, but `import yaml

[2017-07-07 20:23] vnmanoharan commented on #181
@ralex0, can you send me a spec file or environment.yml file so that I can reproduce your environment?
https://conda.io/docs/using/envs.html#share-an-environment

[2017-07-07 20:33] ralex0 commented on #181
`pip install numpy=1.13` didn't break anything for me (that I can see so far) that's how I got numpy installed.

I have encountered both those things. I suppose the full instructions are first run `conda config --add channels conda-forge` then run `conda install -c ralex0 holopy`.

It seems to me that yaml package on the default channel is a dll, whereas on conda-forge it is a subpackage of the py

[2017-07-07 20:41] ralex0 commented on #181
[Here is the environment](https://github.com/manoharan-lab/holopy/files/1132268/ron-holopy-run-win64.zip) of a computer where I have it running, but don't have the intel compiler installed.

[2017-07-08 09:24] vnmanoharan commented on #181
Does it compile against numpy 1.12?

[2017-07-08 13:15] ralex0 commented on #181
It's technically 1.13. I forked numpy and patched it to enable static linking while building Fortran extensions. In numpy.distutils they hard-coded a compiler switch that automatically uses the shared libraries rather than the static ones. See https://github.com/ralex0/numpy/commit/036df88f8524bf67b3dca4ae744b734316861c5b

[2017-07-08 15:16] vnmanoharan commented on #181
I think (despite what I said earlier) that static linking might not be necessary. It looks like libifcoremd.dll and libmmd.dll are both installed with numpy/scipy.  So if the same version of the intel fortran compiler is used to compile holopy as numpy/scipy, dynamic linking might be fine.  I think my previous problem was python 3.5 vs 3.6.

[2017-07-09 15:45] vnmanoharan commented on #181
It works! I installed your build environment, @ralex0, though I had to delete conda and conda-env, since those are only allowed in the root environment. I also had to remove the numba package, since it doesn't yet work with numpy 1.13 -- see [here](https://github.com/numba/numba/issues/2412). Then I was able to install numpy 1.13 using `conda install numpy=1.13`. Finally, I was able to get holopy

[2017-07-09 16:05] ralex0 commented on #181
@vnmanoharan
`conda install -c ralex0 holopy=v3.0post1`

[2017-07-09 16:18] vnmanoharan commented on #181
That works too, and the dynamic dependencies seem to be all pulled in. @barkls, can you confirm that Ron's dynamically linked build works for you? You will need to upgrade to python 3.6 and numpy 1.13.  Once confirmed that it works on your machine, we can mark this issue as closed.

[2017-07-10 13:03] barkls commented on #195
This appears to be how dda actually calculates ``_raw_fields()`` already. It should be pretty simple to move the method up from DDA to the ScatteringTheory class. I will have a PR in soon.

[2017-07-10 14:13] vnmanoharan commented on #195
OK - I've made a [3.1 branch](https://github.com/manoharan-lab/holopy/tree/v3.1). Let's put any bug fixes in there.  The bump up to 3.1 (instead of 3.0.1) is because I want to include the T-matrix theory too.

[2017-07-10 16:42] #195 closed

[2017-07-12 11:57] barkls commented on #181
It works for me as well. I'll update the docs to reflect the new installation procedure.

[2017-07-12 11:57] #181 closed

[2017-07-12 16:13] barkls commented on #148
Right now we have a few Scatterer classes that overlap.

Axisymmetric is a general class for Tmatrix calculations.

Cylinder could be a subclass of axisymmetric that specifically has shape =  -2.

Spheroid could be a subclass of axisymmetric that specifically has shape =  -1.

This would simplify the machinery for tmatrix calculations since all compatible scatterers would be within the Axisymmetri

[2017-07-12 16:30] barkls commented on #148
A second option is to have Cylinder and Spheroid be their own classes, but then have ``Tmatrix`` instantiate a general ``Axisymmetric`` object based on which class of scatterer is passed in. This has the advantage that it would also be able to handle spheres.

A third option would be to attach methods to the appropriate scatterer classes so that they know how to transform themselves into an ``Axis

[2017-07-12 21:42] vnmanoharan commented on #148
I would like to keep scatterers as independent of theories as possible.  In other words, we should define scatterers based on their shape, not necessarily based on which theory can handle them. That makes it easier to switch between theories for the same scatterer. For example, spheroids can be handled by either DDA or T-matrix.  Spheres can be handled by either Mie, DDA, T-matrix, or Multisphere.

[2017-07-13 14:16] barkls commented on #148
That sounds like a good plan for scatterer classes. I will implement it.

For compiling the executable, it looks fairly straightforward to call gfortran from within a ``setup.py`` using ``subprocess``. (see http://www.legi.grenoble-inp.fr/people/Pierre.Augier/how-to-call-fortran-from-python.html or https://stackoverflow.com/questions/39988621/running-fortran-executable-within-python-script/3998897

[2017-07-15 03:13] barkls commented on #48
``conda install -c conda-forge holopy`` now works on both mac and linux.

[2017-07-15 03:13] #48 closed

[2017-07-17 13:45] vnmanoharan commented on #148
Yes, we can use `subprocess` to call `gfortran` from setup.py, as shown in the StackOverflow page you linked to. I'm just not sure that is the right way to do it.  Usually when one wants to distribute a package for compilation on multiple platforms, one would use [GNU autoconf](http://www.gnu.org/software/autoconf/autoconf.html) to make a configuration script, which will automatically determine wh

[2017-07-18 17:48] barkls commented on #148
I agree using subprocess to call gfortran is not elegant. Maybe it's possible to call autoconf and make with subprocess?

I think it's also worth considering the different installation situations we have currently:

For built distributions, we are already compiling fortran using gcc on conda-forge (mac/linux) or ifort on @ralex0 's Windows computer. Users do not need to ever run the setup.py or ch

[2017-07-18 19:53] barkls opened #201 "Inconsistency with DDA rotation angles"
DDA rotations do not behave as I would expect according to documentation from [DDA](http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.511.4262&rep=rep1&type=pdf) (top of page 22) and [holopy](http://holopy.readthedocs.io/en/latest/users/concepts.html#rotations-of-scatterers). For a scatterer symmetric around the z-axis (like a cylinder), the first angle should have no effect. The second ang

[2017-07-18 21:38] barkls commented on #201
I'm now also questioning the orientation of the hologram images. I would expect rotations of (0, 90, 0) to rotate the cylinder around the y-axis, so that the cylinder lies along the x-axis. However, the images are
elongated along the y-axis direction.

[2017-07-19 07:37] vnmanoharan commented on #201
At the moment I can't run the code because of our usual Windows compilation issues.  Can you attach images of the holograms that are calculated?

[2017-07-19 07:48] vnmanoharan commented on #148
For python modules compiled from fortran, f2py and numpy.distutils automatically figure out which fortran compiler to use (https://docs.scipy.org/doc/numpy-dev/f2py/distutils.html).  I haven't found a way to use these same tools to compile an executable, though. The solution is probably for us to generate a configure script (using autoconf) that we would include in the repository. Then, in setup.p

[2017-07-19 08:00] vnmanoharan commented on #148
Actually, I'm going to propose something far simpler. Let's just require gfortran. It's available on all platforms and there are no problems on Windows with running the compiled code, so long as it's in executable form. Then we just have to write a makefile, which should be fairly simple, given that compilation is a one-liner. We then call `make` using `subprocess` in our setup.py.

[2017-07-19 11:38] barkls commented on #148
That sounds like a good solution. What is the advantage to calling make
over gfortran directly?

On Wed, Jul 19, 2017, 04:00 vnmanoharan <notifications@github.com> wrote:

[2017-07-19 13:11] barkls commented on #201
@vnmanoharan [here is a pdf of my notebook](https://github.com/manoharan-lab/holopy/files/1159176/rotations.pdf)

@anna-wang For the rotation of (0, 90, 0) (first image in each comparison), I expect elongation in the x-direction, not in the y-direction as appears in the images. Note that calling the ``rotated`` method on a ``Spheres``  with the angles (0, 90, 0) rotates around the y-axis (i.e. z-a

[2017-07-19 15:14] anna-wang commented on #201
Hey Solomon - I'm not used to interpreting holograms by eye when they're
this close to the sensor. I think the elongation you're speaking of is
usually 90deg rotated from the actual orientation of the scatterer, because
the tips of the cylinder scatter less than the sides.

Maybe try reconstructing the hologram to check, or alternatively, use

hp.vis.vis2d.show_scatterer_slices

to look at the sca

[2017-07-21 12:42] barkls commented on #201
Anna and I looked into this together last night. It turns out that adda defines the Euler angles differently than we do, so it's not as simple as switching the first and third argument. We rotate a scatterer around the z, y, z axes in the fixed lab frame. adda rotates a scatterer around its own z, y, z axes, where the direction of each axis is affected by the previous rotation. We will need to con

[2017-07-21 12:52] barkls commented on #148
@vnmanoharan I can try to implement this, but I have no experience with writing makefiles. It looks like a makefile is useful when there are multiple components to compile, and we only want to recompile those with dependencies on files that have changed. I don't think that describes our scenario. Are there other reasons to use ``make`` rather than ``gfortran`` when calling ``subprocess`` from ``se

[2017-07-21 21:03] anna-wang commented on #201
Here I'll attach files I just sent Solomon - these are scatterers that
handle rotations before passing to DDA. These are of the shapes I used for
the JQSRT and E.coli and other papers, but have been updated so their
indicators can handle an array of points. You can look at their rotations
with hp.vis.vis2d.show_scatterer_slices.

Also, I just checked and this version of spheroid works with DDA.

O

[2017-07-22 12:26] vnmanoharan commented on #148
At the moment there is no real difference between calling `gfortran` from `setup.py` and calling `make`, but developers will appreciate a makefile, and if we eventually write a `configure` script, `setup.py` will have to call both `configure` and `make`.

[2017-07-25 21:22] barkls commented on #201
It turns out the switch to doing rotations in the scatterer reference frame is just a matter of switching the order of alpha and gamma rotations. I've updated the dda code accordingly in an upcoming PR.

[2017-07-26 21:04] barkls opened #204 "Janus Particles"
The current HoloPy Janus implementation is a sphere with an outer shell of uniform thickness over half of the sphere. Anna has a separate implementation of a JanusCrescent with description:

Anna's JanusCrescent is not currently incorporated into HoloPy. Do we want to include it? If so, should it replace the current Janus sphere or be in addition to it?

[2017-07-29 16:11] vnmanoharan commented on #142
I've gotten holopy to compile with gfortran.  I don't know what changed, but it works now.  @barkls or @ralex0, could you try to compile without the Intel compiler?  My conda environment is attached.
[environment.zip](https://github.com/manoharan-lab/holopy/files/1185074/environment.zip)

[2017-07-29 16:18] vnmanoharan commented on #204
I think we should include JanusCrescent, if that is what we used for the DDA paper. I want to clean up and release all the code that has been used in our publications. @anna-wang, can you confirm that this is the scatterer you used in the DDA paper?  Did you ever use the other Janus implementation?

[2017-07-29 16:25] anna-wang commented on #204
Hi Vinny - I only used Janus crescent, not the Janus sphere. I have
modified Janus crescent, spheroid, and capped cylinder to work with the
newest version of HoloPy. These are the three I have used in publications.

Anna

On 29 Jul. 2017 12:18 pm, "vnmanoharan" <notifications@github.com> wrote:

I think we should include JanusCrescent, if that is what we used for the
DDA paper. I want to clean up

[2017-07-29 16:30] barkls commented on #204
If the existing JanusSphere was not used, are we ok replacing it with Anna's version (and renaming it JanusSphere)?

[2017-07-29 16:45] vnmanoharan commented on #204
I would keep JanusSphere, but it should be better documented.  It is difficult to determine what the exact structure is from the constructive solid geometry in indicators().

[2017-07-29 17:23] vnmanoharan opened #205 "Build conda packages for ADDA"
Right now we require users to have installed ADDA before using it.  But the easiest way for users to install it is to use conda to install it, and make it a dependency for our HoloPy conda packages.  For that to happen we need an ADDA conda package.  This can be done:

[2017-07-29 17:38] barkls commented on #204
I moved both Janus descriptions into a single file, Janus.py, which now contains two classes: ``JanusSphere_Uniform`` and ``JanusSphere_Tapered``. It might have been better to make them a single class with an argument to choose between  the two methods, but I though it was more clear to have them as completely separate classes.

[2017-07-29 19:11] #204 closed

[2017-07-29 19:12] barkls commented on #201
fixed in #202

[2017-07-29 19:12] #201 closed

[2017-07-30 02:04] barkls opened #208 "Docs don't read version from __init__.py"
Currently, the docs version number is specified in ``conf.py``, independently of the main version number in ``__init__.py``. We should have ``conf.py`` read in the version number from ``__init__.py`` but it's not completely trivial to do so since docs are not a submodule of HoloPy.

[2017-07-30 02:32] barkls commented on #194
Note that this is the only reason we had to require np>=1.12. If this is fixed, we can relax that dependency requirement.

[2017-07-30 15:17] vnmanoharan commented on #208
It looks like this can be done without changing the module structure:
https://stackoverflow.com/questions/26141851/let-sphinx-use-version-from-setup-py

Or we could just remember to update both.

Is there any way to fix the badge in readme.rst that is reporting "docs: unknown version"?

[2017-07-31 18:26] ralex0 commented on #142
@vnmanoharan
It works for me too. I complied it with Python36 using gcc via mingw.

[2017-08-03 00:34] vnmanoharan commented on #142
@ralex0, can you put a conda package together for v3.1.1 for Windows 64-bit, using gfortran? We might need to update the dependencies.

[2017-10-13 12:27] rbnvrw opened #209 "Bayesian inference of Parameter Values for Multiple Spheres"
First of all, thank you for making this code publicly accessible and thank you for all the work that has gone into this.

I was following the tutorial on "Bayesian inference of Parameter Values" and I am trying to adapt it to multiple spheres. MWE:

[code]

If I run this code, I get a lot of `OverlapWarning`s and the following output:

[code]

So, it seems the code is able to correctly determine t

[2017-10-13 12:46] tdimiduk commented on #209
You have accidentally wandered into some behavior that is not as well documented as it should be.

If you use the same prior object (pg5 in your case) in multiple places in your parameterization, HoloPy assumes you want those values tied together (ie they all vary the same and are actually one parameter in the model). So the last Uncertain value around 5 is actually the value for all of the other

[2017-10-13 12:54] rbnvrw commented on #209
Thank you very much for your quick and detailed answer. That is actually a very nice feature that I accidentally stumbled upon, I think it deserves a mention in the documentation!

I have updated and tested my code, it's working now, so I'll close the issue.

[2017-10-13 12:54] #209 closed

[2017-10-13 12:57] tdimiduk commented on #209
If you want to be extra helpful, you could put in a pull request for that documentation upgrade, otherwise someone will get to it eventually.

[2017-10-23 14:22] barkls opened #211 "Create a scatterer/hologram from an inference results object"
Both @briandleahy and @jeromefung have raised this as an omission in HoloPy's current functionality.

There is currently no straightforward way to visualize the MAP hologram or construct the MAP scatterer after doing an inference calculation, which is the obvious thing most user would want to do. This capability should probably be added as a method to the inference SamplingResult class.

[2017-10-27 18:21] #208 closed

[2017-10-27 18:45] barkls commented on #194
Recently this has been happening on PR Travis builds but not master Travis builds.

[2018-01-09 22:05] ProfPh commented on #77
Using the `show` function directly from `matplotlib.pylab` fixed this issue for me. Prior to this, nothing would happen when `hp.show` was run.

[2018-01-10 17:41] barkls commented on #77
Hi ProfPh,

This is a closed issue, and as far as we know, everything with ``hp.show`` is working as intended.

If you are encountering a problem, I would appreciate your help in tracking it down and resolving the issue. The holopy show function has some additional functionality on top of the matplotlib show function. Have you tried going through the steps to diagnose visualizations in our [docume

[2018-01-10 20:45] ProfPh commented on #77
Yes I have seen that page. Continuing from my previous comment, I found that using an empty `matplotlib.pylab.show` immediately afterward the `hp.show` is enough to show the image properly. This same behaviour can be recreated for `test_disp`. Looks like some kind of initialisation problem?

[code]

This is on Anaconda 5.0.1 64bit, Python 3.6, HoloPy v3.0 (ralex0), matplotlib v2.0.2

[2018-01-10 20:46] ProfPh commented on #77
Yes I have seen that page. Continuing from my previous comment, I found that using an empty `matplotlib.pylab.show` immediately afterward the `hp.show` is enough to show the image properly. This same behaviour can be recreated for `test_disp`. Looks like some kind of initialisation problem?

[code]

This is on Anaconda 5.0.1 64bit, Python 3.6, HoloPy v3.0 (ralex0), matplotlib v2.0.2

[2018-01-10 20:47] ProfPh commented on #77
Yes I have seen that page. Continuing from my previous comment, I found that using an empty `matplotlib.pylab.show` immediately afterward the `hp.show` is enough to show the image properly. This same behaviour can be recreated for `test_disp`. Looks like some kind of initialisation problem?

[code]

This is on Anaconda 5.0.1 64bit, Python 3.6, HoloPy v3.0 (ralex0), matplotlib v2.0.2

[2018-01-11 16:21] barkls commented on #77
Great, thanks for the description. I'm not sure why that is happening, but I will add a note to the documentation in case others encounter the same behaviour.

[2018-01-26 21:16] fpdx opened #214 "Could not import Mie scattering theory / multisphere scattering theory - Fortran?"
Hi. After an apparently successful installation (I cloned and `sudo python3 setup.py install --record files.txt`), when I import holopy I get a warning and an error related to Mie, multisphere theory, and possibly Fortran compilation:

[code]
The test works well:
[code]
But when I try to generate the example hologram, it fails:
[code]
with error:

`NameError: name 'miescatlib' is not defined`

I r

[2018-01-29 17:16] barkls commented on #214
Hi fpdx,

This looks like a fairly typical Fortran compiling issue. I'd like to point out that if you are just trying to use HoloPy, you should be able to install a ready-to-use package with conda.

If you would like to be able to make any modifications to HoloPy, then you do need to install it on your system and compile the Fortran portions. As a first step, check if the compiled fortran files ex

[2018-01-29 17:18] vnmanoharan commented on #214
@fpdx, if you can send us the output of running the setup.py script, we might be able to see where the Fortran compilation is going wrong.

[2018-01-29 17:19] vnmanoharan commented on #214
Whoops, didn't mean to close.

[2018-02-23 15:10] barkls opened #215 "Flexibility of image metadata"
Right now, metadata is flexible in that arguments can be left out. However, additional arguments cannot be easily added to an image's metadata.

It would be nice to adjust load_image, data_grid, and update_metadata functions to handle **kwargs for arbitrary metadata.

[2018-03-09 18:15] barkls commented on #215
on second thought, this makes it too easy to introduce typos. It's nice to get an error when passing in medium_idnex for example.

[2018-03-26 15:04] rbnvrw opened #217 "OME Tiff stack - process as timeseries?"
I am using data collected using [MicroManager](https://micro-manager.org/) which saves its videos as [.ome.tiff files](https://docs.openmicroscopy.org/ome-model/5.6.1/ome-tiff/).

I would like to analyse the hologram using the Bayesian inference method as described in the manual. However, when I try to load the file using `hp.load_image()` I get the following shape: `(z: 1, x: 2048, y: 2048)`. Obv

[2018-03-26 15:40] barkls commented on #217
As you discovered, HoloPy cannot currently load all the frames of a multi-image .tiff file. While this wouldn't be hard to implement, it might not be very useful because the rest of HoloPy assumes you are working with a single frame. ``normalize`` and ``bg_correct`` haven't been tested with multidimensional images and may or may not behave as expected. More specifically the ``AlphaModel`` used in

[2018-03-27 14:00] rbnvrw commented on #217
Thank you for the clear reply, I will try to look into option 2 and contact you if I cannot figure it out.

[2018-03-27 14:27] tdimiduk commented on #217
It is probably also worth looking at making PIMS image loading into a first
class citizen in HoloPy. HoloPy predates PIMS (or at least my awareness of
PIMS), but if I was building it today I would probably use PIMS
infrastructure for a lot of the image loading. I think I got part way
through implementing a HoloPy PIMS layer before we switched to xarray and
HDF5.

I don't have a clear picture what

[2018-03-27 15:28] tdimiduk commented on #217
Right, I PIMS's lazy loading model, while useful for some things, is a
pretty serious mismatch with the way that is easiest with xarray, and we
get better lazy loading functionality with HDF5 files. Now I remember why I
aborted the PIMS project, thanks for the reminder.

On Tue, Mar 27, 2018 at 11:24 AM, barkls <notifications@github.com> wrote:

[2018-03-28 13:52] barkls commented on #217
Ok @rbnvrw , I've created a [new branch](https://github.com/manoharan-lab/holopy/tree/timeseries) that lets you load tiff-stacks as a timeseries using ``hp.load_image``. I haven't tested any other HoloPy functions on the resulting 4-dimensional DataArrays (including a singleton z-dimension). Let me know how it goes!

[2018-03-28 14:23] barkls opened #218 "normals and polarization attributes are DataArrays"
This is handy because it means the components are labelled 'x', 'y', 'z' independent of order. However, xarray doesn't expect to find such datastructures in its ``attrs``, so we frequently run into problems. For example, we have written workarounds when saving metadata, concatenating images into timestacks, averaging background images, etc.

To avoid similar problems in future, we should consider

[2018-03-29 14:14] rbnvrw commented on #217
I've done some quick tests, but for my data I really need the lazy loading functionality (the timeseries are ~5GB per file).

I guess it would be best to first convert the tiff stack to a HDF5 file and then load it in HoloPy, as HoloPy supports lazy loading of the HDF5 files?

[2018-03-29 14:19] tdimiduk commented on #217
Yes, if you can convert to hdf5 that will likely give you better
performance since hdf5 is a better designed format for these kinds of
access. If that doesn't work or make sense then you will want to explore to
convert the lazy loaded frames into HoloPu images on the fly

On Thu, Mar 29, 2018, 07:14 Ruben Verweij <notifications@github.com> wrote:

[2018-04-04 11:17] barkls opened #219 "Coordinate image saving and displaying"
Image brightness and contrast is auto-scaled when displaying images. This makes it difficult to compare two holograms, since their mapping will be different. We should have an option to pass in a scaling range, as when saving images.

[2018-04-09 11:43] rbnvrw commented on #217
Update: I decided to go the route of converting the lazy loaded frames into HoloPy images on the fly.

I tried the hdf5 approach, but almost all HoloPy functions I wanted to use didn't work with image stacks (bg_correct and all the fit functions) so I think it is not feasible without adapting a large part of the code.

[2018-04-09 13:53] barkls commented on #142
As of now, it is possible to:

1) Build HoloPy from source on Windows with gcc by following the steps described by @ralex0 above.

2) Install a conda distribution of HoloPy for Windows from conda-forge, compiled with flang (see #220).

[2018-04-09 13:53] #142 closed

[2018-04-09 13:56] barkls opened #221 "conda-forge Windows build can't handle quad-precision"
Conda-forge currently uses [flang ](https://github.com/flang-compiler/flang) to compile Fortran on Windows, not gcc. Flang cannot currently handle quad-precision variables, which we use in the axisymmetric Tmatrix code.

Right now, we are currently distributing for Windows on conda-forge with a separate branch. If conda-forge ever works with gcc, or if flang ever works with quad-precision, then we

[2018-04-09 13:57] barkls commented on #217
I was afraid this might be the case. Hopefully we will get HoloPy to support multidimensional images soon!

[2018-04-09 14:00] barkls commented on #221
flang also isn't catching the include lines in ``scattering/theory/mie_f`` fortran codes when run through f2py. See #220 for details.

[2018-05-18 20:56] barkls opened #222 "generalize guess() method for scatterers"
Right now, guess() is written  explicitly for ``Sphere`` and ``Spheres``. It should be rewritten to use the parameters method of ``CenteredScatterer`` and ``Scatterers`` classes to be more general.

[2018-05-22 18:20] barkls opened #224 "no test_metadata.py file"
metadata.py contains a variety of functions that have become more and more complicated. At this point, we cannot readily justify not testing the various cases for many of these functions. Thankfully, they are used frequently enough that unintended behaviour would probably turn up in another test.

[2018-05-25 16:44] barkls opened #225 "saving and loading an image loses scaling"
When using hp.save_image() and hp.load() on a .tif file, we are already saving and retrieving metadata. We should also save and retrieve the image scaling.

[2018-05-25 16:47] barkls commented on #218
update: As of 3.2, the multi-channel hologram capability extends DataArrays in attrs. I also wrote a couple tools that help deal with them better.

[2018-06-02 01:49] barkls commented on #156
Mayavi is on [conda-forge](https://github.com/conda-forge/mayavi-feedstock), but it's pretty finicky, such as pinned python and numpy versions and no osx support. I can't currently test 3D visualization on lab computers because I don't have enough room in my 2G home-directory to install Mayavi + dependencies, but I think it should be pretty straightforward to get visualization working once we swit

[2018-06-03 15:28] barkls commented on #158
Included in #227

[2018-06-03 15:28] #158 closed

[2018-06-07 14:56] barkls opened #229 "model requires noise_sd"
noise_sd is a property of an image, but right now it is defined as part of the forward model for an inference calculation. This is inconvenient because the model is defined without reference to a particular image, and only applied to an image in later steps of the calculation. It might make more sense to associate noise_sd with the image in an inference calculation, like the image coordinates, whi

[2018-06-07 20:06] barkls commented on #222
guess could also be changed from a method to a property, to match Parameter objects

[2018-06-07 20:16] barkls opened #230 "no wrapper for xarray.DataArray"
When we deleted Marray, we switched to using xr.DataArray objects to represent holograms. We chose to use these objects as is, without defining a wrapper class.

Now, it seems like we might want a wrapper class for a few reasons:
1) There are many small functions that act on holograms that might be better as methods. Currently, these are scattered between metadata.py, io.py, vis.py, and others.
2)

[2018-06-19 18:33] barkls commented on #229
Currently optics values like illum_wavelen and medium_index can be specified as either properties of the image or as part of the model (model specification takes priority if both are present). It probably makes sense to treat noise_sd the same way.

[2018-06-20 17:17] barkls opened #232 "docstrings"
Ever since the 3.0 release, many functions (especially those that are not user-facing) do not have explicit docstrings. We should clean up this problem throughout holopy.

[2018-06-20 17:20] barkls opened #233 ""What's new" docs section"
It is standard for packages to have a "what's new" section in their documentation where they keep a record of updates with each release. We don't currently have this, but we list general features of each release on github.

[2018-06-21 21:11] #229 closed

[2018-06-22 15:22] barkls opened #237 "Appveyor testing of windows builds"
Appveyor is a platform like travis that builds on Windows machines. It's what conda-forge uses to test builds. We should automatically install holopy and run tests on windows platforms, but I expect the fortran installer to give us issues.

[2018-06-28 18:18] korigod commented on #230
I think it's possible to introduce some changes without breaking the API if the wrapper is inherited from `xArray.DataArray`. It's possible to add some convenient methods, override `__str__` and mark the old API as deprecated but leave it until v4. Or do you think about composition instead of inheritance here?

[2018-06-28 18:52] barkls commented on #230
I think you're right, but the truth is I haven't given enough thought to what our goals with this are. I think we would want to remove our dependence on the DataArray.attrs attribute and just define our own attributes for things like illum_wavelen, noise_sd, etc. on a hologram. Many of these changes would happen in the background, so they probably wouldn't affect the API. However, I don't really w

[2018-07-17 13:38] ykiriscioglu opened #241 "hp.save converts coordinates into points"
In the holopy.inference result.py code,

[code]
the save function also changes the coordinates of the result object into points, which then prevents the coordinates from being extracted from the saved result.

[2018-07-27 20:15] ykiriscioglu opened #242 "hp.save_image auto scaling for two-color images"
`hp.save_image( "hologram", holo, scaling="auto")`
or
`hp.save_image("hologram", holo)`
doesn't scale the images to the minimum and maximum intensity, when used for red-green holograms. When fed in the minimum and maximum values as a range for scaling, the code works, but otherwise the image gets saved differently.

[2018-07-27 20:19] barkls commented on #242
I expect this is happening because the auto scaling is being calculated after adding a dummy blue channel.

[2018-08-01 20:15] barkls commented on #205
I took an [initial stab at this](https://github.com/barkls/staged-recipes/pull/9), but it won't work without ironing out a few kinks.

[2018-08-09 20:56] barkls commented on #194
@ellenklein encountered this (or a similar issue) on a mac running a conda-forge installation of holopy 3.2.1. She had scipy v1.1.0 and tried a few different numpy versions. She wasn't able to run calc_holo on any Spheres objects.

[2018-10-16 17:46] barkls commented on #148
Axisymmetric T-matrix code is implemented in HoloPy as of 3.1 release.

[2018-10-16 17:46] #148 closed

[2018-10-16 17:59] barkls opened #244 "Singularity release of HoloPy"
One option for a fall-back distribution of HoloPy is to create a dedicated HoloPy singularity container available on [singularity hub](https://singularity-hub.org/). Singularity has detailed instructions for installation on [Windows](http://singularity.lbl.gov/install-windows) and [MacOS](http://singularity.lbl.gov/install-mac), although I haven't tried either.

It's possible to setup a container

[2018-10-16 18:02] barkls commented on #218
Subsequent changes have further cemented this approach, but it isn't causing as many problems now - it seems like we've plugged most of the holes by extracting the relevant information and dumping to yaml strings when necessary.

I'm closing this issue, but it will come up again if we ever decide #230 needs addressing.

[2018-10-16 18:02] #218 closed

[2018-10-16 18:05] #214 closed

[2018-10-16 18:06] barkls commented on #217
Closing this issue. Any further discussion should be directed to #46.

[2018-10-16 18:06] #217 closed

[2018-10-22 20:50] barkls opened #246 "colour inversion"
an image with dimension `illumination` having coords ['green', 'red'] (as opposed to ['red','green']) displays and saves with inverted colours. Both `save_image` and `vis2d` directly map ordering to rgb without checking. This should be fixed when addressing #219.

[2018-11-29 14:09] barkls opened #249 "Bug in SBESJY.F"
The algorithm used to calculate spherical Bessel functions in SBESJY.F sometimes fails near zeros of j_0(x). See example:

[code]
The best solution is probably to use scipy's new functions 'spherical_yn` and `spherical_jn`, which do not have this issue and function for large x (unlike the old scipy function `sph_jnyn`). However, there are a couple barriers to their implementation.
1) They are much

[2018-11-29 15:00] jeromefung commented on #249
I'm going to have to look more carefully at this -- but the [documentation](https://docs.scipy.org/doc/scipy/reference/generated/scipy.special.spherical_jn.html) for `scipy.special.spherical_jn` suggests that it uses upwards recurrence. IIRC, part of the reason we used SBESJY is that upward recurrence for j_n is known to be unstable.

I'm not categorically opposed to switching to `scipy.special.sp

[2018-12-10 10:48] eXpensia opened #251 "scipy optimize strategy returns incorrect uncertainties"
I see that scipy.optimize is now used in the 3.3 version. I tested it and the uncertainties given are a bit strange (changing units doesn't change the values). I was wondering if using lmfit instead would be better, it extends many optimization options of scipy.optimize and also add directly a good uncertainties computation.

[2018-12-10 15:07] barkls commented on #251
Hi eXpensia, thanks for the question. Here are a few comments:

1) HoloPy 3.3 is still an experimental version and is not fully tested or documented. That being said, everything _should_ work, so we appreciate your help in finding anything that doesn't.

2) The scipy.optimize fitting is a recent addition by @briandleahy. It's possible the uncertainties are not normalized to parameter values. It wo

[2018-12-11 08:48] eXpensia commented on #251
Thanks for the answers, perfectly clear, I'll try to  format the test i made in the week to show you. I will also try to find what's going on.

[2018-12-12 11:10] eXpensia commented on #251
Here it is, I used the example picture.

[uncertainties test.zip](https://github.com/manoharan-lab/holopy/files/2671645/uncertainties.test.zip)

[2019-02-13 22:18] ykiriscioglu opened #252 "Averaging images"
Using the function

` load_average(filepath, refimg=None, spacing=None, medium_index=None, illum_wavelen=None, illum_polarization=None, normals=None, noise_sd=None, channel=None, image_glob='*.tif')`

not only takes a lot of time to average over images, but it also freezes my screen and prevents me from doing anything on the computer. Given that I'm averaging over around 300 images, I understand t

[2019-02-14 16:59] barkls commented on #252
I was worried the load_average function might not be closing files and keeping them in memory, but that seems not to be the case. The long evaluation time is probably just do the reading large numbers of large files from a networked drive. You could try copying the background files to a local drive beforehand.

I also recommend calculating your averaged background image only once, and then saving

[2019-02-14 16:59] #252 closed

[2019-03-20 13:09] briandleahy opened #254 "data_grid raises an error when extra_dims has more than one entry"
Calling data_grid when ``extra_dims`` contains more than one element can sometimes raise an exception. The issues seems to arise because ``holopy.core.metadata.data_grid`` and ``holopy.core.metadata.make_coords`` assume that iteration over Python dictionaries occurs in the insertion order, which is not the case for pre-Python 3.6 versions.

Here is a minimum working example, which raises an error

[2019-03-27 13:24] barkls opened #255 "HoloPy dependencies"
HoloPy has a lot of dependencies, with some new ones introduced in 3.3. Many of these (cma, emcee, h5, etc.) are only used in some parts of HoloPy and should be made optional, with intelligent error handling and test skipping to compensate when they are not present.

[2019-04-02 20:14] barkls opened #256 "can't save Model objects with xarray properties"
When saving a model by itself or as part of a results object, pack_attrs or equivalent is never run, so we have yaml.dump of xarray objects happening. These can't be loaded back up.

Possible solutions:
1) rewrite pack_attrs to work on model, etc.
2) write yaml constructor and representer classes for xarray objects

[2019-04-04 14:07] barkls opened #257 "Saving Scatterers removes tied parameters"
This only occurs when the parameter in question has a long string of digits so it may be a rounding error. It is a problem when doing fits since the `Model` object's parameters don't match the `FitResult` object's parameters.

Reproduce with the following code:
[code]

note that `n` remains tied but `r` does not. Possible solutions are to
1) round values upon defining a Scatterers object,
2) have

[2019-05-03 19:39] briandleahy opened #258 "holopy assumes spherical coords for scattering theories"
Currently holopy's ```calc_holo``` pathway transforms the detector coordinates to spherical coordinates from the particle center, using the image of the detector in the sample plane. However, the mielens calculation is more natural in cylindrical coordinates from the particle center.

Thus, currently ```mielens``` transforms from spherical back to cylindrical. This double-transformation can cause

[2019-05-14 19:45] barkls commented on #257
This bug means that some methods don't work in a saved FitResult object, such as max_lnprob

[2019-05-20 20:55] blwh opened #262 "Fortran compiling problem"
Hi,
I am trying to run some scattering simulations using holopy but there seem to be some problems with Fortran compilation during installation. When I run the first example from the Users Guide the code throws a NameError:
[code]
when `holopy/scattering/theory/scatteringtheory.py` tries to import use the `calc_scat_field` from the module.
I cannot use Conda since I have to compile and run this co

[2019-05-21 03:12] jeromefung commented on #262
Which Fortran compiler are you trying to use on your supercomputer? Can you successfully compile and execute a minimal "hello world" Fortran program to check that your compiler is working properly?

[2019-05-21 06:23] blwh commented on #262
I am using `gfortran`. I have no problems with compiling and executing a "hello world"-program

[2019-05-21 09:24] blwh commented on #262
Update: I only get an error if I install the reqs and Holopy in a virtual env. Outside of the virtual env the code runs fine.

[2019-05-21 10:57] blwh commented on #262
I fixed the issue. I foolishly enough forgot to create my virtual env with `--system-site-packages` so compilation with the env did not work.

[2019-05-21 10:57] #262 closed

[2019-05-29 11:43] kersthie opened #264 "Error when runing Bayesian inference of Parameter Values example"
Hello,
I am trying to run the example given in Bayesian inference of Parameter Values.
At first I got an AttributeError message that there is no attribute noise_sd in the image after bg_correct. According to the documentation the function should provide this attribute, but somehow it didn't.  I fixed the problem by adding a function that takes the standard deviation of the image via `np.std(data_h

[2019-05-29 12:55] vnmanoharan commented on #264
Which version of HoloPy are you running?  The API for the inference calculations has changed a few times.

[2019-05-29 13:33] kersthie commented on #264
It says version 3.0post1.
I installed it in the anaconda environment and tried updating it, but it says it's all up to date!?

[2019-05-29 13:43] barkls commented on #264
try running `conda install -c conda-forge holopy==3.2.1` to upgrade to the most recent version.

[2019-05-29 13:53] kersthie commented on #264
Thank you for your quick answeres it's working now. Im quite new to this so I'm not quite sure how things work.

[2019-05-29 13:53] #264 closed

[2019-05-29 14:00] vnmanoharan commented on #264
Glad it's working.  Feel free to post other issues.

[2019-05-30 12:45] vnmanoharan opened #265 "MCMC is not the same as fitting"
In 3.3, both MCMC and least-squares fitting have been rolled into `Strategy` objects, and the main method for MCMC has been renamed from `sample()` to `optimize()`.  But MCMC is not an optimization method, and the type of information returned from running the sampler is not the same as the type of information returned from running an optimization algorithm.  Optimization and sampling serve differe

[2019-05-30 20:03] barkls commented on #265
The simplest fix is probably just to revert the method names of the Strategy objects from "optimize" to "fit" and "sample" as appropriate.

[2019-05-30 20:13] barkls opened #266 "HoloPy paper uses FitResult.best_fit() as a method"
Right now it's a property in the 3.3 branch so the code examples in the HoloPy paper would fail.

I think the best solution is to rename the property and have the method point there.

This also solves the issue @briandleahy has raised that the name best_fit is ambiguous since it could refer to the best fit parameters or the forward model evaluated with best fit parameters.

[2019-05-30 23:15] vnmanoharan commented on #265
@barkls (looping in @ralex0, @briandleahy):

This wouldn't solve the semantic problem that optimization and MCMC are strategies to achieve two different goals.  Actually there are three different inference goals:
1. Obtain a point estimate representing the maximum of the posterior probability.  This is what optimizing the posterior does.
2. Obtain a point estimate and covariance matrix from minimi

[2019-05-30 23:20] vnmanoharan commented on #266
It's also not clear what's meant by either "best" or "fit" (see #265). "best" could refer to the posterior mean, max, median, or any other point estimator. Let's fix #265 and get our object hierarchy straight first, and then perhaps the solution to this issue will present itself.

[2019-06-06 18:52] rgov opened #267 "Reducing memory usage during image load"
In troubleshooting high memory usage of a process running HoloPy, I noticed that loading a grayscale TIF file takes approximately 200% more memory than necessary, and the memory usage does not subside quickly.

1. `load_image` calls `data_grid` and passes in the image data, which is say ~120 MB of grayscale values represented as doubles.

2. `data_grid` executes `arr=np.array([arr])` which copies

[2019-06-06 19:43] barkls commented on #267
Thank you for finding these.

For your first set of comments on load_image, I agree your solution to point 2 is better. There might be some edge cases where the copy() in point 3 is necessary - I'll take a look.

For your second set of comments on load_average, this is an issue that is actually already on our radar, but not posted on github. @ralex0 are you looking into this?

[2019-06-07 14:43] ralex0 commented on #267
Yeah, I am actually already working on the load_average performance. @briandleahy noticed this same issue before.

@rgov, what branch are you using? Your clone of the master?

[2019-06-07 14:58] rgov commented on #267
I am using HoloPy installed from Conda Forge. I don’t know the version at the moment.

[2019-06-07 20:30] barkls commented on #265
Here is the functional API we specified in our meeting today (and follow-up conversation with @briandleahy). Below are five different ways of interacting with the setup.

---
1. Simplest call uses default optimizer, initial_guess from model
[code]
@briandleahy suggests that the function name should be a verb, so we will want to rename from `point_estimate`. This example (and all below) can also wo

[2019-06-07 21:07] rgov commented on #255
According to #259 this is fixed and should be closed, right?

[2019-06-07 21:09] rgov commented on #219
This is said to be fixed in #253. Can it be closed?

[2019-06-07 22:53] rgov commented on #267
As I understand it:

* `copy_metadata` returns a copy of an input array, attaching metadata copied from a second input array (potentially the same one)

* `update_metadata` returns a copy of an input array, replacing certain metadata fields with the given input parameters.

In many cases in the code, I see patterns like this that result in unnecessary copies:

[code]

Since copying is often not re

[2019-06-07 23:07] rgov commented on #267
Alternatively, somewhat more consistent with Numpy, you could add an optional `out` parameter that specifies the array to write to. If it's not provided, a copy is made.

[2019-06-10 14:31] barkls commented on #255
Maybe. We might still try to remove more dependencies.

[2019-06-10 14:37] barkls commented on #219
Our workflow is to close issues only when they have been merged into the master branch, since the development branch is experimental and could be reverted.

[2019-06-10 14:42] rgov commented on #219
Makes sense. How about a label you can affix to issues that have pending fixes? It would be a little easier for new contributors to tell what are open tasks.

[2019-06-18 16:53] jeromefung opened #272 "Inferring and analytically marginalizing over noise standard deviation"
As currently formulated, the posterior that is sampled when doing Bayesian inference involving holograms assumes a fixed, known standard deviation \sigma for the noise on each pixel. In practice, the actual \sigma is seldom known but is estimated from the variance in the hologram being analyzed.

It is possible to treat \sigma as a parameter to be inferred and then to marginalize over it analytica

[2019-06-19 15:20] rgov opened #274 "What unit is used for propagation distances?"
The docs for `propagate()` say:

but the [tutorial](https://holopy.readthedocs.io/en/master/users/recon_tutorial.html) says:

The code given generates this array of distances:

[code]

[2019-06-19 16:30] barkls commented on #274
In general, HoloPy is agnostic to units. In this case units are determined
by those used to define image spacing and illumination wavelength. the
docstring shouldn't mention metres.

On Wed, Jun 19, 2019, 11:20 Ryan Govostes <notifications@github.com> wrote:

[2019-06-19 18:41] vnmanoharan commented on #272
I think this would be a useful feature.  You would probably want to use a Jeffreys prior if \sigma can vary over more than one order of magnitude. In that case the marginalization integral will depend on the limits of the prior.  It may be better to allow the user to add \sigma as a parameter, assign it an arbitrary prior, and then sample over the joint posterior (including sigma).  Then the user

[2019-06-26 13:57] barkls commented on #265
Thanks for the feedback @ralex0. Any thoughts @briandleahy or @vnmanoharan

[2019-06-27 13:24] vnmanoharan commented on #265
I don't see the feedback from @ralex0.  In any case, I am worried about supporting too many different interfaces to the code.  There are several (overlapping) use cases:
- exploratory analysis, which is generally interactive and might involve a notebook
- analysis of many holograms, which is generally scripted and might involve a cluster
- use by non-experts, who need sensible defaults and intelli

[2019-06-27 15:30] barkls commented on #265
Thanks for the input! I agree it makes sense to figure out what use cases we want to prioritize.
I'll clarify a few points about the above options that may have been unclear in my earlier post and then respond to @vnmanoharan's comments with my own opinions in a separate comment.

1. Initial guesses determined from model - Note that the model includes HoloPy Prior objects. For Gaussian priors, it

[2019-06-27 15:43] barkls commented on #265
My own preferred use case is option 4/5 with no preference between them. I think option 1 is nice as the simplest new user case. I'm personally not a fan of option 3 (see below).

I disagree that option 4/5 won't be used in an interactive workflow. I am quite likely to define a new object, or modify an existing one (for example, decrease tolerance if fit hasn't converged) within a jupyter notebook

[2019-06-27 19:11] ykiriscioglu opened #275 "Error compiling fortran code"
After setting up version 3.3 from GitHub, and compiling the fortran code on the lab computer, I ran into an ImportError:

`/Code/holopy/holopy/scattering/theory/tmatrix_f/S.so: undefined symbol: PyCObject_Type`

I didn't run into any errors setting up on my Mac, however. Is this related to the version of gfortran installed? If so, how should I proceed?

@ralex0  @vnmanoharan

[2019-06-27 19:13] ykiriscioglu commented on #275
This is the complete error message:
[code]

[2019-06-27 20:23] ralex0 commented on #275
What version of python are you using? Can you post your environment?

[2019-06-27 20:46] ykiriscioglu commented on #275
I'm using Python version 3.6.5, and I uploaded my environment here:
[https://anaconda.org/ykiriscioglu/base/files](url)

[2019-06-27 20:57] ralex0 commented on #275
Thanks, and what's the gfortran version and OS?

[2019-07-01 13:19] ykiriscioglu commented on #275
GNU Fortran version 4.8.4
The OS is Ubuntu 14.04.5 LTS

[2019-07-02 13:56] briandleahy commented on #272
Thanks for the question. My impression is that sampling over the noise level isn't currently supported in holopy, and I'm a little confused as to why this isn't implemented, because running MCMC with a ```__lnsigma``` parameter is supported by ```emcee``` and it works fine (@ralex0 and I have been doing it quite a bit, but by working around holopy). I was talking to @barkls about why this wasn't s

[2019-07-02 16:56] barkls commented on #272
I've taken a stab at solving this since I thought it would be trivially easy.

However, I ran into a slight hiccup. Specifically,  the name `noise_sd` is problematic as a paramter because it has an underscore in it, and holopy tries to combine parameters with underscores into dictionaries (e.g. `{'alpha_red':0.8, 'alpha_green':0.9}`). I see three possible solutions:
1) rename `noise_sd` throughout

[2019-07-02 17:13] jeromefung commented on #272
Thanks for looking into this. The API preferences of the people regularly using holopy should outweigh mine, but my inclination is to avoid unnecessarily breaking backwards compatibility. Would option #2 with a name like `noisestd` be less confusing than `noise`?

[2019-07-04 21:10] vnmanoharan commented on #265
You don't need priors for a least squares fit (in fact, you don't want them, since they will be ignored).  The reason option 4 doesn't have any advantage for an interactive workflow is that it mixes an object-oriented and functional API.  If you want to work with objects, you would just do option 5. Option 4 combines the two approaches in a way that isn't synergistic.

Whether one uses option 5 in

[2019-07-04 21:26] vnmanoharan commented on #265
Here is a proposal.  At the top of the thread, I mentioned the three different inference goals:

1.  Obtain a point estimate representing the maximum of the posterior probability.
2.  Obtain a point estimate and covariance matrix from minimizing chi-squared subject to bounds (least-squares fit).
3.  Obtain an estimate of the shape of the posterior PDF. This is what MCMC sampling does. We can also

[2019-07-08 13:42] barkls commented on #265
I disagree that it is desirable for new users to learn so many different APIs but as long as the underlying objects are intercompatible then I am happy.

Here's my understanding of @vnmanoharan's proposal:
- User-facing object oriented structure with methods that implement each algorithm (nmpfit, cma-es, emcee) for advanced users - these are the current `Strategy` objects.
- Each algorithm also ge

[2019-07-08 13:51] vnmanoharan commented on #265
There are two APIs being proposed: a functional one, which inspects the data and model, and an object-oriented one.  When you say that there are "so many different APIs" are you proposing a single API?  What would it look like?

[2019-07-08 14:47] barkls commented on #265
I don't like that the different functions have different APIs when really they all need the same information: data, generative model, which parameters to vary, parameter ranges and initial guesses, and noise level. Currently, information about parameters is included in the model as `Prior` objects and noise level can attached to either the model or the data.

The single API is given in my earlier

[2019-07-08 14:56] vnmanoharan commented on #265
The functions have different information because they are doing different things.  This is why this issue was filed.  Least-squares fitting defines a generative model that is not the same in general as the one used in posterior maximization.  And MCMC does a different task than posterior estimation.  So I don't think it's good to have "new users only learn a single way to do calculations," since t

[2019-07-08 15:30] barkls commented on #265
I think we have different priorities here, which is why neither of us are able to suggest solutions that address each other's concerns. I can implement whatever API you would like; I just need to understand what that is.

[2019-07-08 15:42] vnmanoharan commented on #265
The API is specified in the proposal above.  Here is what I would suggest: start with the documentation and rewrite the code examples so that they use the proposed API (in a new branch).  That will tell us how the proposed API should be revised or modified.  Once we have settled on that, we can proceed to implementation.

[2019-07-10 19:24] briandleahy opened #278 "Doctests can fail due to float roundoff error"
Currently the doctests occasionally fail due to float roundoff error, as some of the doctests use float numbers to 16 decimal places. Since float arithmetic can vary from machine to machine, these tests can pass on some machines and fail on others.

I suggest that we use either ```doctest.ELLIPSIS``` (= ```...```) or a call to ```round(x, 8)``` to fix these in the docs.

[2019-07-11 16:25] barkls commented on #272
I ended up going with option 3 in #279 because it's completely reasonable for developers to have underscores in their variable names and we shouldn't interfere with that, so I think it's the most future-proof (although maybe slightly breaking now).

I haven't tried inferring a noise level yet but I have confirmed the code on my branch runs. It might be tricky to define an appropriate prior, but yo

[2019-07-11 16:25] #272 closed

[2019-07-12 21:50] barkls opened #280 "Insufficient testing"
We identified a few of the worst files and assigned them to various developers to fix:

Goal is to write tests if it's straightforward, or flag for a refactor with tdd if it's a mess, so as to avoid spending time/effort writing tests for code that really needs to be rewritten

@barkls
hp.scattering.scatterer.scatterer.py (and scatterers.py, sphere.py, spheres.py...)
hp.core.utils.py
hp.inference.p

[2019-07-12 21:51] barkls commented on #224
superseded by #280

[2019-07-12 21:51] #224 closed

[2019-07-16 16:53] barkls commented on #265
I've taken a first pass at documenting the proposed API. It's available on readthedocs [here](https://holopy.readthedocs.io/en/update-inference-api/users/fit_tutorial.html). Many of the hyperlinks don't work because the namespaces they refer to don't exist yet. Others do exist but have no documentation.

Let me know what you think - once everyone is happy with the documentation I can get to work o

[2019-07-16 19:45] ralex0 commented on #275
@briandleahy You have experienced a similar error right? Can you give your gfortran version and OS as well?

I developed the extension using gcc 8.3.0 on Ubuntu 18.10  (Cosmic Cuttlefish)

[2019-07-18 13:27] briandleahy commented on #275
The errors I got on my laptop were slightly different. Here they are:
[code]
That machine was

[2019-07-18 13:42] briandleahy commented on #278
Some possible offenders, as found with ```grep -r "[0-9][0-9][0-9][0-9][0-9][0-9]" --include="*.rst"```, all in /holopy/source/docs/users:

infer_tutorial.rst:    Gaussian(mu=24.186546323529495, sd=0.08510000000000062)
load_tutorial.rst:    0.9196428571428571
calc_tutorial.rst:    [1.01201782]
calc_tutorial.rst:    [1.01201782]
calc_tutorial.rst:    0.97506085...
calc_tutorial.rst:    [1.04897655]

[2019-07-19 20:29] briandleahy commented on #258
This should be fixed by PR #277

[2019-07-19 20:29] #258 closed

[2019-07-20 00:22] briandleahy commented on #280
Adding more theory tests in #282

[2019-07-22 20:37] briandleahy opened #283 "Holopy calculates holograms incorrectly for some/many scattering geometries"
The current ```calc_holo``` pipeline in ```holopy.scattering.calculations``` involves calling ```scattered_field_to_hologram```, which basically consists of this line:
[code]
This is clearly wrong -- ```1 - normals``` is not coordinate invariant. I believe what this line is trying to do is evaluate the Poynting vector, by assuming that the Poynting vector is always  E_x^2 + E_y^2, which (i) it is

[2019-07-22 20:38] briandleahy commented on #283
I'll go first. My preferences are Option (1) as a stopgap, then option (3) for longer-term development.

[2019-07-22 21:55] vnmanoharan commented on #283
I don't think this was a design decision. There was always a tension between supporting analysis of in-line holograms and supporting more general geometries. I think all of our testing went into the in-line geometry, and other geometries haven't been tested.  With the in-line geometry, there are a few assumptions:
1) the transmitted beam is the reference
2) the detector is centered on the transmit

[2019-07-23 15:05] barkls commented on #283
I think the current calculation is fine for calculating regular holograms, since any deviation of the Poynting vector from the z-axis will be very small for typical imaging setups (focal plane >= 10 um from particle, hologram extends +/- 5um in x and y). However, the current implementation with the `1 - normals` is messy and should be fixed.

The current calculation doesn't work at all for hologra

[2019-07-24 16:01] barkls commented on #265
Has anyone had a chance to look at the documentation for the proposed API yet? @vnmanoharan @briandleahy @ralex0 I'd appreciate some feedback so we can move forward on implementing this.

[2019-07-25 18:32] briandleahy commented on #265
Hey @barkls sorry I didn't get a chance to write this down earlier. Right now it looks pretty good to me, but I have a few questions / comments:

[code]
I like how simple this is, but how would ```least_squares_fit``` know how to calculate a hologram? What model would it use? As we start to proliferate more theories (mielens vs mie vs dda, for example), I'm worried that the defaults for ```least_s

[2019-07-26 22:18] briandleahy commented on #275
Regarding the errors on my machine -- I think it's an issue with the test. The test calls
[code]
but params is a dict, so ```*list(params.values())``` does *not* return the same order each time, which means that when there are 15 parameters to the fortran code, some of them are bound to be out of order, and that will cause an error. That might make sense why I am having issues, but I don't think t

[2019-07-29 19:31] ralex0 commented on #265
I don't really like the names chosen for the functions that do the work. Following @briandleahy mentioned above, is there a way we can rename the functions point_estimate, least_squares_fit, to make it completely obvious what they do? "Point estimate" sounds like an object to me. Also, I don't think "scipy" is a should be the name of the "method" for least squares fitting. I think point_estimate s

[2019-07-29 19:38] ralex0 commented on #275
@briandleahy Okay, I'll just make a PR making params an OrderedDict so it's python 3.5 compatible.

@ykiriscioglu I think your error is actually a compilation issue related to python 2 being in the path. (Based on googling the error) I'll investigate by trying to install on a lab computer.

[2019-07-29 21:45] vnmanoharan commented on #265
Thanks for putting this together, @barkls.  Questions/comments:

1. Should `s` in the line
`ls_sphere = least_squares_fit(s, data_holo, parameters = ['x','y','z','r'])
` read `guess_sphere` instead?
2. Regarding @briandleahy's comment about defaults: we should use the same defaults for both `calc_holo()` and the function that does fitting/optimization.
3. Regarding @briandleahy's comments 1 and 2:

[2019-07-30 00:06] barkls commented on #265
Thanks for the feedback everyone. Please let me know if I missed or misinterpreted any of your points. Feel free to add more letters if appropriate.

A) @briandleahy asks how `least_squares` fit knows how to calculate a hologram and worries default might be different from `calc_holo`. We would need to enforce a default model. I was planning to use the current `ExactModel` for a hologram. One way t

[2019-07-31 20:20] NRanta opened #284 "AlphaModel - syntax error in v3.3"
I have adjusted the order of my inputs to be in the correct order.  s is my scatterer and noise_sd is defined already:

```model = AlphaModel(s,alpha=par(.6,[.1,1]),noise_sd)```

I am getting ```SyntaxError: positional argument follows keyword argument```

If I remove the alpha parameter it breaks, so what should I do to correct this?  Thank you.

[2019-07-31 21:08] barkls commented on #284
Python requires that you provide all positional arguments before keyword arguments. Try
`model = AlphaModel(s, par(.6, [.1, 1]), noise_sd)`
or
`model = AlphaModel(s, alpha=par(.6, [.1, 1]), noise_sd=noise_sd)`

[2019-07-31 21:08] #284 closed

[2019-07-31 22:11] NRanta opened #285 "strat.sample index out of bounds"
When I do an inference for a sphere using the strat.sample, the indexes appear to be swapped.  I have a print statement in the model that displayed the first line in the outcome error.  Index 34 is being checked in axis 1 which is only size 30 while axis 2 is the one that has the size for it.  I was told to update v3.3 to the current build and this did not fix this issue.  Any recommendations?

[c

[2019-08-02 21:06] NRanta commented on #285
I found in the emcee.py that sample is depreciated as of v3.3 and changed it to strat.optimize.  This still did not resolve the issue.

I included a print statement for the indexers in xarray/core/dataarray.py - isel:
```{'walker': 22, 'chain: 85, ;parameter': slice(None, None, None)}```

where as the array shape from xarray/core/indexing.py - __getitem__ :
``` (100,30,2) ```

Any thoughts on this

[2019-08-02 21:21] barkls commented on #285
Can you post a bit more detail about how to reproduce this unexpected behaviour? The code as you have written won't run because  you have a keyword argument before a positional argument in your instantiation of `AlphaModel`.

If you have a complete minimal example (i.e. not on real data) that produces the bug that would be very helpful.

It also looks like your HoloPy installation is within a cond

[2019-08-05 02:25] NRanta commented on #285
The location of the installation inside of conda is because of how the system was set up.  I was initially using holopy through conda and that became where python puts its installations.

When I run that I get

```ImportError: Cannot import name 'to_spherical' from 'holopy.core.math' (/home/ranta/miniconda3/lib/python3.7/site-packages/HoloPy-unknown-py3.7-linux-x86_64,egg/holopy/core/math.py```

A

[2019-08-05 06:16] NRanta commented on #285
For forgot to mention, the test_holo4.tiff was a hologram created using holopy with n=1.59, r=9, center = (30,30,40) on a 600x600 canvas.  Was trying to just do basic work with getting the bayesian to work.

[2019-08-05 15:07] levbershadsky commented on #275
I am also having a problem compiling to fortran code, but in my case the package doesn't even install.
This is the error mesage:
[code]
This is the latest 3.3 branch with numpy `1.17.0`, `gcc (GCC) 9.1.0`, `gcc-fortran 9.1.0`.

The operating system is Arch Linux, kernel `5.2.5`.

[2019-08-05 16:45] barkls commented on #285
The fact that you can't import `holopy.core.math.to_spherical` proves that you are on the most recent version of HoloPy, which is strange because I can run your code without any errors. Here are a few steps to try to help me figure out what's going on.

1) Can you check if the following code works? It's a simplifed version of the code you sent, and it works without a problem on my machine.

[code]

[2019-08-05 22:37] NRanta commented on #285
1) Error in the same manner is previous

2) numpy was 1.16.4, upgraded to 1.17.0 (error present after upgrade) /// xarray was 0.12.3 (previously upgraded this as I thought this might have been the culprit)

3) Results of the print statements:
sample shape (4, 30, 2)
lnprob shape (30,4)

[2019-08-06 15:55] barkls commented on #285
Ok I think I've figured it out. Can you check your emcee version?
[code]
It should be 2.2.1. There is a pre-release version 3 of emcee, but we haven't transitioned HoloPy to use it yet. I suspect you might have that version installed.

[2019-08-06 17:21] NRanta commented on #285
That seems to have fixed it, indeed I was somehow using the pre-release version 3 of emcee.  I uninstalled v3 and got v2.2, the shapes then matched up corrected (the script you included ran to completion without an error).  Thank you very much for your help with this!

[2019-08-06 17:21] #285 closed

[2019-08-06 17:58] barkls opened #288 "emcee 3.0 introduces API changes"
The upcoming 3.0 release of emcee has changed its user interface in a few different ways. We will need to make sure HoloPy adapts to the new interface once it is officially released on conda-forge and pypi. For an example of a breaking change, see #285.

[2019-08-06 20:23] briandleahy opened #289 "make_subset_data only works for grids"
If the data passed in is a ```detector_points``` or already a subset data, then it will raise an error. For instance, this raises an error:

[code]

This is currently captured in a (skipped) failing test, in ```test_metadata.TestMakeSubsetData.test_returns_correct_number_of_pixels_on_detector_points```.

[2019-08-06 20:28] #159 closed

[2019-08-06 20:30] #219 closed

[2019-08-06 20:32] barkls commented on #221
irrelevant since #263 since everyone now uses double precision code.

[2019-08-06 20:32] #221 closed

[2019-08-06 20:39] #222 closed

[2019-08-06 20:47] barkls commented on #237
Irrelevant since #263 since we no longer need a separate windows branch.

[2019-08-06 20:47] #237 closed

[2019-08-06 20:47] #241 closed

[2019-08-06 20:48] #242 closed

[2019-08-06 20:48] #246 closed

[2019-08-06 20:50] #255 closed

[2019-08-06 20:54] barkls commented on #267
Fixed by #276 .

[2019-08-06 20:54] #267 closed

[2019-08-06 20:55] barkls commented on #280
added tests to prior.py in #287

[2019-08-06 20:55] briandleahy commented on #280
Testing metadata in #286

[2019-08-06 20:56] #249 closed

[2019-08-07 19:29] barkls commented on #265
Hi @vnmanoharan @ralex0 @briandleahy I have taken another pass at the updated documentation based on your feedback, with the latest version available on [readthedocs](https://holopy.readthedocs.io/en/update-inference-api/users/fit_tutorial.html). I'd appreciate it if you can each take a look and let me know what you think of this most recent version. Thank you!

[2019-08-09 13:36] briandleahy commented on #254
After PR #287 I ran the tests on my Python 3.5 machine and several of them failed for similar reasons on ordered vs unordered dicts. For instance, here are 2 failing tests:
[code]
and
[code]
both of which fail because they unpack dicts and expect the order to be preserved. So I think rather than trying to swim upstream with this, I'm thinking that we just be thankful that issue #254 didn't cause p

[2019-08-09 19:27] briandleahy commented on #254
OK, pursuant to our conversations, I've cast everything to an OrderedDict (on my local branch, which I will submit a PR for soon). However, this problem can still be recreated by calling ```data_grid``` with an unordered dictionary (as above). In this case, the casting as an OrderedDict doesn't guarantee that the iteration order of ```extra_dims``` will be the same as the dimension order of ```ar`

[2019-08-09 19:47] vnmanoharan commented on #254
Independent of this solution, I would suggest that we require python 3.7+ for HoloPy version 3.3 (3.7+ because dictionary insertion order is *guaranteed* to be preserved in 3.7 and above, but not 3.6+).  Rationale: we don't have the bandwidth to support multiple python versions, and with conda being cross-platform and multi-environment, it's not a huge burden on the user to install 3.7 if needed.

[2019-08-09 20:29] briandleahy commented on #265
Hey @barkls  thanks for this. I took a look and I have a few comments (+ replies to your A-F above):

* A) Sounds good. I'd say make the default ```AlphaModel``` since that is the practically useful one, but just my 2 cents.
* B) `find_MAP` is better, although I really hate acronyms and prefer clarity over brevity, so I'd prefer `find_maximum_a_posterior_estimate` or something similar. Again, just

[2019-08-09 21:48] vnmanoharan commented on #265
@barkls, all looks good up to the "Customizing the algorithms" section.  There I have some semantic concerns.

1) I don't think of `find_MAP()` as a method of a Strategy.  A strategy is an algorithm + tuning parameters.  A MAP is a property of a posterior distribution or statistical model.  So it's confusing to me to read
[code]
since the Strategy itself doesn't have a MAP.  It would make more sen

[2019-08-09 21:55] briandleahy commented on #254
Agreed. I don't think we want to waste time maintaining functionality across multiple versions.

[2019-08-12 15:55] barkls commented on #265
I've posted [another update](https://holopy.readthedocs.io/en/update-inference-api/users/fit_tutorial.html) to address @vnmanoharan's comments. Specifically, I've changed the function and method names ``find_MAP`` --> ``fit`` and ``sample_posterior`` --> ``sample``. I've also moved the methods from the ``Strategy`` objects to ``Model`` objects. Finally, I've removed any reference to an `InferenceS

[2019-08-12 17:49] ralex0 commented on #275
I have successful installed the 3.3 branch on a lab computer (Ubuntu 14.04.5 LTS, gcc version 5.5.0 20171010). Here are the steps I took from my profile (which was fresh and unconfigured previously):
1. [Install Miniconda](https://docs.conda.io/en/latest/miniconda.html)
2. Create a new environment with python 3.6. I ran `conda create -n holopy-install python=3.6`
3. Switch to my new environment "h

[2019-08-15 18:45] briandleahy commented on #230
My 2 cents:

To me, the bigger issue is that the methods for creating and modifying ```xarray```s are scattered and work independently of each other (i.e. all the code in metadata). Since the code is not the same for these different creational pathways, it's possible to get ```xarray```s with different properties when they are created from the same pipeline. This makes dealing with different ```xa

[2019-08-16 17:40] #275 closed

[2019-08-16 20:36] briandleahy commented on #283
I calculated what the difference is in a hologram as calculated the correct way, with the Poynting vector, and the current way in holopy, by taking |E_x|^2 + |E_y|^2. While there is a difference, as I said before, for typical geometries the difference is minuscule -- I estimate that for a typical hologram the difference is about half a percent. So as @barkls and @vnm were saying, this difference i

[2019-08-20 18:59] rgov opened #292 "Output of propagate is identical to input"
Here is my input file and script: [Google Drive link](https://drive.google.com/drive/folders/1YrncHcO1ZOOAObSeoj8K7kyp-qHpVi8_?usp=sharing)

You can invoke the script like this:

[code]

It simply invokes `load` on the input image with some default metadata and then calls `propagate` with the given `z` value, and writes out the resulting image.

However, I seem to get back the same image each time

[2019-08-20 19:04] rgov commented on #292
I think I was given mixed up units, I was able to get a clearly different image.

[2019-08-20 19:04] #292 closed

[2019-08-20 20:40] briandleahy commented on #257
Fixed by #290

[2019-08-20 20:40] #257 closed

[2019-08-20 20:41] briandleahy commented on #278
Fixed by #291

[2019-08-20 20:41] #278 closed

[2019-08-20 20:41] briandleahy commented on #77
Fixed by #291

[2019-08-20 20:41] #77 closed

[2019-08-20 20:42] briandleahy commented on #232
Fixed by #291

[2019-08-20 20:42] #232 closed

[2019-08-20 20:42] briandleahy commented on #274
Fixed by #291

[2019-08-20 20:43] #274 closed

[2019-08-20 20:45] briandleahy commented on #254
Fixed / rendered irrelevant by #291

[2019-08-20 20:45] #254 closed

[2019-08-20 20:49] briandleahy commented on #13
This is now (partially) captured by the work @ralex0 and I have in the 3.3 release (cf #245, 250), in the ```Mielens``` theory.

Right only the objective lens is modeled only for spheres, not for generic scatterers. However in the upcoming paper that @ralex0 and I are writing, we do lay out a way (in principle) to account for the objective lens for an arbitrary scatterer. I don't want to close thi

[2019-08-20 20:59] briandleahy commented on #265
I'm fine with the name changes.

Regarding the ```AlphaModel``` -- I still think that the default behavior should be the one that "just works", which would favor the ```AlphaModel```. We could have it default instantiate an alpha with a flat prior on [0, 1], since that is what both Grier's group and we do. But I'm happy to defer to you and/or others if you disagree.

[2019-08-20 22:05] vnmanoharan commented on #13
I think we keep it open -- not because we don't have an implementation for generic scatterers, but because we haven't yet modeled spherical aberration.

[2019-08-21 15:42] briandleahy commented on #283
Here's the TeX'd up derivation. I can put it on the group wiki if desired as well.

I will go ahead and fix the hologram calculation to (2) always return |E_x^2 + |E_y|^2 and (3) deprecrate normals throughout the rest of holopy.
[poynting_vector_vs_intensity.pdf](https://github.com/manoharan-lab/holopy/files/3526126/poynting_vector_vs_intensity.pdf)

[2019-08-23 03:07] ralex0 commented on #265
The API looks mostly fine to me, but what is this reference to `point_estimate`?

Should "`point_estimate`" be named "`fit`" now, or is it still something else entirely?

[2019-09-26 19:14] barkls commented on #256
quick fix: disallow passing in xarrays for alpha, noise_sd, etc.

[2019-09-26 19:16] barkls commented on #280
io and vis still aren't sufficiently tested but they should really be refactored since the code is in pretty bad shape. We made good progress on everything else!

[2019-09-26 19:16] #280 closed

[2019-09-26 21:07] barkls commented on #265
Thanks for the feedback you guys. I'll make both of those changes. Other than that, is everyone happy with the [current version](https://holopy.readthedocs.io/en/update-inference-api/users/fit_tutorial.html)? @vnmanoharan have you had a chance to look at it?

Once everyone signs off we can work on implementation and finalize the 3.3 release.

[2019-10-01 19:04] briandleahy commented on #256
Hey @barkls can I get close to a MWE? I'm not sure if the problem is something like this:
[code]
or this
[code]

Thanks!

[2019-10-01 21:34] barkls commented on #256
I think your first suggestion is right. Can you save that object with
hp.save? Does hp.load on the file then fail?

I can work on putting on an example but probably not until Thursday.

Solomon

On Tue., Oct. 1, 2019, 15:04 Brian Leahy, <notifications@github.com> wrote:

[2019-10-02 15:47] briandleahy commented on #256
An example would be helpful. Thanks!

[2019-10-03 18:35] barkls commented on #256
[code]

[2019-10-15 13:42] barkls commented on #256
@briandleahy introduced a temporary fix in #296 by forbidding creation of Model objects with xarray.Datarrays in them. However the longer-term fix is probably to write yaml representer/constructor classes that work with simple xarrays (assuming we keep using yaml and xarray).

[2019-10-15 13:44] barkls commented on #288
Note that `conda install -c conda-forge emcee` now installs version 3, so we should specify HoloPy compatibility with emcee < 3.0 until we switch over.

[2019-10-18 18:26] barkls opened #299 "Travis pins version numbers"
As of 3.3 release, travis.yml pins a few things that should be updated in future.

I've edited this comment to keep the below list up to date:
python 3.6 (for compatibility with h5netcdf 0.7.4) - [code runs with DeprecationWarnings]
h5py 2.9 (for compatibility with h5netcdf 0.7.4) - [code runs with DeprecationWarnings]
yaml < 0.2 or pyyaml < 5.2 - [code doesn't run]
scipy < 1.4 [code doesn't run]

[2019-10-22 18:37] NRanta opened #300 "adda for n_cpu > 1 not storing geometry"
*For v3.3

I am wanting to run mpi with the hope of decreasing the calculation time for the capsule shape.  When I have n_cpu > 1 the check_call fails and no run000* directories are created.  When I then take the check_call cmd that failed and run it by itself the error is not present and the run000* are created.

I attempted to upload screenshots of the error, but github is not letting me do so.

[2019-10-22 21:17] vnmanoharan commented on #300
I don't think MPI on ADDA has been tested extensively.  If you can send us some code to reproduce the error, that would be helpful.

[2019-10-22 22:36] NRanta commented on #300
Here is the code that I am running.  Mine uses a .tiff file, but I changed the code to allow for github not being able to send that file format.

![00006_holo](https://user-images.githubusercontent.com/46546279/67340099-87857480-f4e1-11e9-83bd-59cafe3cf1d8.jpg)

import os
import timeit
import holopy as hp
import numpy as np
import warnings
import h5py
import matplotlib.pyplot as plt
from holopy.co

[2019-10-23 18:17] NRanta commented on #300
I was worried that it would not work, but if I run the code fails the check_call it does not error out.  So I am not sure that it is something ADDA itself is doing wrong.

Error with command listed: ![mpi_error](https://user-images.githubusercontent.com/46546279/67421902-46936b80-f586-11e9-9713-325eb3eb7d1f.jpg)
Same command running to completion in new terminal tab: ![mpi_works](https://user-imag

[2019-10-23 23:08] vnmanoharan commented on #300
It looks like `mpiexec` is terminating with [error code 1](https://www.open-mpi.org/doc/v3.0/man1/mpiexec.1.php#sect25).  This means that `adda` either didn't execute or terminated before `mpiexec` expected it to.   Can you check to make sure `adda` is in your path?

[2019-11-15 15:22] briandleahy commented on #233
Sending out a google doc now to the 2 of you; please add what is new to that google doc so we can divide up who writes which doc sections.

@barkls -- do you know which commit corresponds to the 3.2 release?

[2019-11-15 20:59] barkls commented on #233
[The releases page](https://github.com/manoharan-lab/holopy/releases) (accessed from manoharan-lab/holopy homepage) has a link to the commit associated with each release. In this case it is https://github.com/manoharan-lab/holopy/commit/50cb2e5a2bc6103d655eda1ba4485e228db2ba3c.

[2019-11-26 17:57] barkls commented on #266
Fixed by #306. It introduces a `FitResult.hologram` property. Calling the `FitResult.best_fit()` method redirects there for now, with a message that this interface is deprecated.

[2019-11-26 17:57] #266 closed

[2019-11-26 17:57] barkls commented on #265
#305 finalized the docs changes and corresponding code implementation.

[2019-11-26 17:57] #265 closed

[2019-12-05 20:42] barkls opened #307 "extra docs file pushed"
There's a .h5 file in the docs folder that appears to have come from running doctests. It should be deleted, and a corresponding filter added to .gitignore.

[2019-12-05 20:52] vnmanoharan commented on #307
If it's a big file, can you rebase rather than delete?  That will help keep the repo size down.

[2019-12-06 23:06] barkls commented on #307
Please ignore the auto-generatedcomment referencing this issue above.

The file was large, so I made a [new rebase branch](https://github.com/manoharan-lab/holopy/tree/3.3-rebase) in this repository. We can't merge with a PR, but it would be nice if someone can at least visually look over the differences between the two branches using the "Compare" button. Ideally all differences are symmetric whe

[2019-12-06 23:18] barkls commented on #299
Pinning "yaml<0.2" since they have removed support for `OrderedDict` (as that's just a dictionary now). We use `OrderedDict` within HoloPy, but it's also used extensively throughout xarray so we are running into problems reading/writing yaml. [@ralex0 you'll love this one!]

[2019-12-08 00:44] ralex0 commented on #288
@barkls, per your suggestion, I tested the code in #285 that @NRanta posted. This minimal version runs without issue on our current 3.3 branch.
[code]
Our current tests cover this. My current emcee version is 3.0.2

I'm closing this because there is no failing use case.

[2019-12-08 14:53] briandleahy commented on #288
Thanks @ralex0 . Do the tests pass with `emcee` v 3.x? I remember that 2 tests were failing with emcee 3.x, is that also fixed?

[2019-12-08 21:16] ralex0 commented on #288
@briandleahy see #308. I fixed all the tests in test_emcee

[2019-12-10 18:01] briandleahy commented on #251
This should be addressed on my fork. The scipy fitting strategy's uncertainties should now be correct; however, there is still a difference between the scipy and nmp strategies' uncertainties.

@barkls  and @ralex0 -- I'll touch base with you two on Thurs and we'll figure out what should be done, then I'll go ahead and make a PR.

[2019-12-16 20:29] ralex0 commented on #233
I think the Google doc is all set now.

[2019-12-17 14:30] briandleahy commented on #251
Fixed by #311

[2019-12-17 14:30] #251 closed

[2019-12-17 16:41] briandleahy commented on #233
Fixed by #314

[2019-12-17 16:41] #233 closed

[2019-12-17 17:16] barkls commented on #307
Ok I've tried this again - I pushed to the 3.3-rebase branch. If you pull that and do a local `git diff` vs. 3.3, there shouldn't be any changes except the large .h5 file in git history that exists on `3.3` but not `3.3-rebase`.

Can somebody confirm this?

[2019-12-17 18:42] briandleahy commented on #307
Yes. If I do
[code]
I only see
[code]
which is there on 3.3 but not on 3.3-rebase.

[2019-12-18 16:46] #307 closed

[2019-12-18 21:54] barkls commented on #288
Our code is not incompatible with earlier versions of emcee. This is problematic since we removed emcee as a dependency, but now we can't enforce any version control. Running a MCMC calculation with the older version of emcee gives an opaque AttributeError. Ideally we could specify `emcee>=3.0` as an optional dependency that is enforced only if it is already installed but I don't think that's poss

[2019-12-18 22:08] briandleahy commented on #288
We could try requiring emcee > 3.0 in the `extras_require` in setuptools, cf. https://setuptools.readthedocs.io/en/latest/setuptools.html

[2019-12-19 01:13] ralex0 commented on #288
For holopy-feedstock, we can specify `emcee>=3.0` in [recipe/meta.yaml](https://github.com/conda-forge/holopy-feedstock/blob/master/recipe/meta.yaml) and do the same in [/.travis.yml](https://github.com/manoharan-lab/holopy/blob/3.3-rebase/.travis.yml) in this repo.

I don't think we should support outdated versions of emcee. Let's just use the `extras_require` kwarg in setup.py as @briandleahy su

[2019-12-19 14:21] vnmanoharan commented on #288
Note that the [parallel tempering sampler has been removed from emcee 3.0](https://github.com/dfm/emcee/issues/236).  So if you have code that relies on parallel tempering, it will be broken in HoloPy 3.3 with the `emcee>=3.0` dependency.

[2019-12-19 14:50] barkls commented on #288
Thanks for the suggestions!

`extras_require` will solve the problem for anyone building from source, but not those using the conda distribution. Problem case is if someone has emcee 2.2.1 installed (e.g. from an earlier version of holopy) and then does `conda install holopy`. Now holopy MCMC calculations will fail, but without giving any indication that there's a compatibility issue (it raises an

[2019-12-19 15:01] vnmanoharan commented on #288
I wasn't talking about code in holopy.  @ralex0 has PT code that was used to generate results for the mie-lens paper.  He (and anyone else using parallel tempering) should be aware that their code will not work with holopy 3.3.

[2019-12-19 21:33] barkls commented on #288
`extras_require` looks like it's for optional features that are identified by name as dependencies for another project, which isn't quite our situation.

[This stackoverflow thread](https://stackoverflow.com/questions/57938558/can-i-declare-incompatible-python-dependencies) makes it sound like what we want to do isn't possible.

Any other ideas? Am I missing something? Should we just handle both f

[2019-12-19 21:49] briandleahy commented on #288
Hmmm... my impression (from [these docs](https://setuptools.readthedocs.io/en/latest/setuptools.html#declaring-extras-optional-features-with-their-own-dependencies)) is that `extras_require` is for optional features that are identified by name, but that are part of our package. That seems to be the case here. For instance, if someone wants to do inference with emcee, that requires `emcee>3.0`. If

[2019-12-19 21:57] barkls commented on #288
My understanding from reading those docs and playing around with it is that we can specify `emcee>=3.0.0` in `extras_require`, but that won't be enforced unless something else specifically has that HoloPy extra as a requirement.

For example, we could define a feature of HoloPy "MCMC" that includes the emcee interface part of HoloPy and requires emcee>=3.0.0. This requirement isn't enforced when i

[2019-12-19 22:04] barkls opened #315 "scipy 1.4 incompatible with xarray"
Our develop branch is failing on Travis, and I've confirmed it's due to a new scipy release that doesn't seem to be playing nicely with xarray objects.

[code]

[2019-12-19 22:11] barkls commented on #315
For now I've pinned on travis (#299) and conda-forge, while we wait for a real solution.

[2019-12-19 22:11] vnmanoharan commented on #288
Re: PT support.  It's not so simple.  If you add emcee>3.0 as a dependency to the conda-forge build, installing holopy 3.3 will update your emcee to the version without parallel tempering.  Then you can't use PTSampler with holopy 3.3 in the same environment.  There is a fork of PTSampler into a separate package, but it's not as easy to use as the PTSampler in emcee 2.2.  So I am against adding em

[2019-12-19 22:15] barkls commented on #288
Do you think we should support both emcee 2.2 and 3.0 for now?

On Thu., Dec. 19, 2019, 17:11 vnmanoharan, <notifications@github.com> wrote:

[2019-12-19 22:59] vnmanoharan commented on #288
A major new feature of holopy 3.3 is the mielens model.  As discussed in the paper, inferring certain parameters using the mielens model requires parallel tempering.  If we require emcee>3.0, we eliminate one of the tools needed to use the new feature.  Worse, anyone who wants to reproduce the results in the paper would have to jump through hoops to do so, since the results were obtained with emce

[2019-12-19 23:18] briandleahy commented on #288
I think @vnmanoharan has a good point regarding parallel tempering and the mielens model; we should allow a user to use 3.3 with parallel tempering emcee.

I still do think that making `emcee` an optional dependency would solve this. For now we could leave HoloPy's `EmceeStrategy` compatible only with emcee 3.x. Then it is possible for a user to use parallel tempering with 3.3, although they would

[2019-12-20 17:42] barkls commented on #288
It sounds like we need to support the following two cases:

The 3.0.0 release satisfies both of these users **as long as user 2 doesn't install holopy with conda**. This might be acceptable because the mielens code doesn't need to be compiled. We could add some documentation about this caveat if others feel this is an acceptable option.

If user 2 insists on installing holopy with conda, their par

[2019-12-20 17:49] briandleahy commented on #288
I agree that it's messy, but I think that that is a good stop-gap and it is certainly an improvement over the current status. The best is the enemy of the good, and I think what you submitted is good. We can talk about better long-term solutions later.

I left a quick code review; see #316 .

Thanks for taking care of this @barkls .

[2020-01-08 20:07] NRanta opened #318 "Z vs R variations in a sphere"
I am running into an issue where the spherical objects that I am attempting to determine information about using holopy is not converging on a consistent value.  For my code I have only Z and R as free parameters and when I perform 20 calculations I get each parameter spanning 95%+ of the range of possible inputs.  My z-depth is around 140-150 and radius is around 1.

[removed simulation stuff as

[2020-01-15 01:21] ralex0 commented on #318
Hi @NRanta are you sure your particles are that far away in z distance? I'd think a 1.0 micrometer, n=1.38 particle in water (n=1.33) would be pretty hard to see from 150 microns away. This code below creates a [simulated hologram](https://imgur.com/a/kjwnAQQ) with these parameters. There's no structure in the hologram, so it would be impossible for the sampling to converge to the correct result.

[2020-01-16 19:03] NRanta commented on #318
Looking through my code I used the wrong spacing, got it mixed up with a different hologram set.
 I set the spacing to be 0.1285 instead of 0.178.  That said.  This is the [simulated hologram](https://imgur.com/HqmmKk4) that I got back with my dimensions.  You used shape = 100 and spacing = 0.1, for my hologram I subimage to a shape = 300 and the spacing is a 0.178.  This results in a drastically

[2020-01-31 00:33] ralex0 commented on #318
Were you able to get reasonable results yet? Sorry for the late response! I guess that you've found all this out by now, but I just want to write it down here for anyone reading this in the future.

From that hologram, it doesn't look like your particles are 150 microns away. Those particles look pretty close to the focus, or rather close in `(focal distance)/(size parameter)`. Also, your suspensi

[2020-01-31 00:33] #318 closed

[2020-02-12 15:09] squeakus opened #319 "Is this output correct?"
Hi,
I am working through the tutorial and I have  a reconstruction of the example data. It gave a warning

vis.py:188: UserWarning: Image contains complex values. Taking image magnitude.
warn("Image contains complex values. Taking image magnitude.")

Is this what the result should look like? It basically looks like a brighter version of the raw image.

https://imgur.com/a/zYAxfnd

[2020-02-12 15:18] briandleahy commented on #319
Thanks for pointing this out @squeakus . Can you quickly say which line in the tutorial you were running?

Thanks!

[2020-02-12 15:31] squeakus commented on #319
Apologies I should have added that. I am working from this tutorial:
https://holopy.readthedocs.io/en/stable/users/recon_tutorial.html#example-reconstruction
imagepath = get_example_data_path('image01.jpg')
raw_holo = hp.load_image(imagepath, spacing = 0.0851, medium_index = 1.33, illum_wavelen = 0.66, )
bgpath = get_example_data_path(['bg01.jpg','bg02.jpg','bg03.jpg'])
bg = load_average(bgpath, r

[2020-02-14 18:25] barkls commented on #319
Hi @squeakus, that code actually returns a stack of images, representing a 3D volume of slices at different reconstruction distances above the focal plane. You should be able to navigate through them wiht left and right arrow keys.

There's a [quick diagnostic test](https://holopy.readthedocs.io/en/stable/users/install.html#using-holopy) to make sure everything's working as intended on the display

[2020-02-17 11:37] squeakus commented on #319
ahh, I have set it up to run with QT and now I can see the different images
in the stack, thanks!

On Fri, 14 Feb 2020 at 18:25, barkls <notifications@github.com> wrote:

[2020-02-18 14:58] #319 closed

[2020-02-27 16:10] rbnvrw opened #321 "Segmentation fault for two sphere example"
First of, thank you again for the amazing software package!
I am trying to run the following minimal example based on the documentation, but run into problems:

[code]
Namely, in the calculation of the hologram in the `calc_holo` function, I get the following error:
`Segmentation fault (core dumped)`.

I'm using holopy version 3.3.1-py36h6e990d7_1 from conda forge.

Single sphere holograms are cal

[2020-02-28 10:12] rbnvrw commented on #321
A small update: I have delved a bit deeper into the source code and found that the problem only occurs when I use the `Multisphere` theory (it works fine when using the `Mie` theory class). I guess something is going wrong in the FORTRAN part of the `Multisphere` class. I have tried setting `suppress_fortran_output` to `False`, but this still only gives the segmentation fault.

I'd really like to

[2020-02-28 13:20] barkls commented on #321
Hello,

A segmentation fault is definitely something going wrong with the Fortran components of HoloPy for you. You are correct that Multisphere is the right tool to use for spheres that are close together.

If it's just that particular package build that isn't working, you can try installing HoloPy 3.3.0, since the 3.3.1 release just fixed some dependency edge cases.

It looks like the package yo

[2020-03-06 08:51] MatthiasGi opened #322 "Limits in order of magnitude?"
Hello there! I’m currently trying to use HoloPy as a starting point for my projects which happen to work on different orders of magnitude as the ones described in your publications or examples. To get to know the library better I tried to rebuild an experiment from the real world. The setup consists of spheres that are separated two millimeters each. A screen is placed 30cm away from the object. W

[2020-03-06 14:25] vnmanoharan commented on #322
Most of our work on HoloPy has focused on implementing scattering models for microscopic objects.  HoloPy isn't (yet) well suited for objects much larger than the wavelength.  For your example, diffraction theory would be a much faster approach than Mie theory to calculate the hologram, and a reasonably accurate one at these length scales.  There isn't a straightforward way to do this in HoloPy, b

[2020-03-13 09:20] MatthiasGi commented on #322
Thanks a lot for your reply! I think I'm almost certain in trying the second approach. This way I could benefit from your other work implemented in the library (e.g. display for data or the data-infrastructure). I'm sure to let you know, if I make any progress. If I can imagine (and implement) any other "upgrades" for the library, I'll let you know as well.

I leave the issue open to reflect that

[2020-03-18 06:37] MatthiasGi opened #323 "Saving of reconstruction volume plots"
To save a hologram plotted by the library one can simply write:
[code]

For reconstruction volume this isn't as easy because the images are "hidden" behind keystrokes. I therefore extended `holopy.core.io.vis.py` to offer methods for this use case. A similar thing could be done to `holopy.core.io.io.py` for the `save_image`-method.

Is there any interest in my changes? I'm happy to make a pull req

[2020-03-18 13:21] barkls commented on #323
It's true that there isn't a good way in HoloPy to save a reconstruction stack, and a pull request adding that functionality would be appreciated. Unfortunately the code in `holopy.core.io.vis.py` and `holopy.core.io.io.py` is some of the messiest in HoloPy and should be completely refactored at some point. However, There's no timeline for this, and anything you add would be incorporated into    a

[2020-03-31 14:31] fsonnichsen opened #326 "image01 demo question"
I have keyed in the image reconstruction code from page 13 of the documentation using the image01 demo. I get results but the output appears as successive diffraction patterns (holograms) along the z axis. I was expecting the output to be reconstructed "visual" slices through a solid object.
   Can someone tell me what original object was (a sphere perhaps?).  And am  misinterpreting this or is th

[2020-04-01 14:28] barkls commented on #326
Hi Fritz,

The `hp.propagate` function reconstructs the electromagnetic field at multiple planes defined by their distance from the detector. You can think of this as being similar to adjusting the defocus distance while the hologram was being recorded. There is a sphere that comes into focus near z=18 in the example problem. This sphere is approximately the same size as the wavelength of light, s

[2020-04-06 14:30] briandleahy commented on #323
Fixed by #324 and #325

[2020-04-06 14:30] #323 closed

[2020-04-06 14:30] briandleahy commented on #315
Should be fixed by #328

[2020-04-06 14:30] #315 closed

[2020-04-30 20:18] barkls commented on #321
Closing this issue due to inactivity. Please feel free to reopen if the problem persists or if you have any further details.

[2020-04-30 20:18] #321 closed

[2020-04-30 20:19] briandleahy commented on #299
I updated a problem with scipy #328 and with xarray and cma in #332 . We still have h5 and yaml / pyyaml pinned.

[2020-05-01 07:19] rbnvrw commented on #321
Thanks @barkls for your help. Just to resolve this issue and maybe point others in the right direction: I have built Holopy from source after installing the gfortran compiler. This worked, but I still got a Segmentation Fault during script execution. Then it turns out that next to the development version, there was also a version from conda still installed that was used.

After removing two previo

[2020-05-01 07:29] rbnvrw commented on #156
As a comment to this: I'm using https://k3d-jupyter.org/ to do 3D visualization. It worked better for me than Mayavi: in Mayavi there were rendering issues on Linux with the open source Radeon drivers (spheres were not rendered correctly).

The k3d runs in a notebook in the browser using WebGL, it has support for nice features such as animation. Spheres are easily plotted, but also meshes or other

[2020-05-01 18:00] barkls commented on #156
Hi @rbnvrw, thanks for the introduction to k3d and offer to add it into HoloPy! We would really appreciate a PR to render holopy `Spheres` objects as a first step! Please feel free to reach out if you have any questions or difficulties while working on this.

[2020-05-07 20:29] briandleahy opened #338 "`determine_default_theory_for` picks Multisphere for two spheres even when they are far apart, which causes problems"
See this discussion, take from @jeromefung in #337

One solution would be for `determine_default_theory_for` to check if the spheres are far enough apart where Mie Superposition would be a better approximation than Multisphere.

However, this solution could be problematic during an inference calculation if the spheres sit near the cutoff distance for switching between Mie and Multisphere. I can im

[2020-05-07 20:31] briandleahy commented on #144
It seems to me that the Mielens theory in 3.3 and the Lens() theory in #333 render this issue a moot point, since when the focal plane is inside the particle someone really should be using a theory which describes the effect of the lens.

So I'm closing this issue; please re-open it if there is a use case for internal fields that I'm not aware of.

[2020-05-07 21:13] #144 closed

[2020-05-07 21:55] barkls commented on #338
I think the inference case is easily solved by having the model call `determine_default_theory` upon instantiation. This should be the behaviour regardless of the main point here, because an inference calculation `FitResult` object is supposed to store all the information needed to redo the calculation, but right now it might not know what theory was used and defaults change.

[2020-05-08 09:55] peteasa opened #340 "_scsmfo_setup failure with collection of two spheres"
Using latest develop branch.  It seems like there is a problem, perhaps with my use of calc_holo that demonstrates a failure in _redirect_stdout.  The code works fine with a single Sphere, but fails with multiple.  Any idea where this bug is?
_redirect_stdout
`title = 'Collection'
s1 = Sphere(center=(5, 5, 5), n = 1.59, r = .5)
s2 = Sphere(center=(4, 4, 5), n = 1.59, r = .5)
obj = Spheres([s1, s2]

[2020-05-08 12:38] barkls commented on #340
Thanks for raising the issue. This is some code that I recently modified in the development branch and it looks like I must have missed something. If you could answer a few questions it could be helpful in diagnosing the problem:

Does the problem occur every time you run the code or only once in a while?
What operating system and python version are you using?
What do you get if you call `sys.stdo

[2020-05-08 14:04] peteasa commented on #340
Actually I work round the problem by commenting out  _redirect_stdout and it works just fine!  I have holopy installed "python setup.py develop --user" so any changes are immediately available.

The problem occurs every time I run my code and also fails in ipython when I cut and paste the appropriate lines out of the HoloPy Documents.
I am using Ubuntu 18.04.4 LTS with Python 3.6.9
fileno: 1

Than

[2020-05-08 17:38] barkls commented on #340
I think I've fixed the problem in [a new branch](https://github.com/manoharan-lab/holopy/tree/fix_suppression). It would be great if you could check it out and let me know if it works!

What didn't work about passing in the theory?

[2020-05-08 18:31] #340 closed

[2020-05-09 08:29] peteasa commented on #340
did a pull and got your changes... bug seems to be fixed...

passing the theory did not seem to make any difference.  it still crashed with what looked like the same error messages!

Thanks for your help

[2020-05-14 13:54] barkls opened #342 "example data files missing in conda distributions"
I don't know how widespread this is, but sometimes the conda distribution doesn't properly bring the example data files along for the ride, which means users can't go through the tutorials. It would be nice to get some examples of systems on which this has happened.

[2020-05-18 17:05] barkls commented on #342
This problem arises because the exampledata folder has no `__init__.py` so conda doesn't pick it up. This means maybe our exampledata has never worked from a conda distribution? I don't think that's the case so maybe something has changed about what conda/conda-forge includes by default. Here are a few solutions:

1) Add a `__init__.py` file to `hp/core/tests/example_data`. I don't really like thi

[2020-05-18 17:27] briandleahy commented on #342
If you're looking for input, I agree with you -- this seems to be a conda-specific problem, so a conda-specific solution is probably best (i.e. your number 2 above). We can always come back to this if it ends up being a more general problem.

[2020-05-18 18:03] barkls opened #343 "CMA now on conda forge"
We install cma with pip on Travis and recommend that when its MissingDependency is raised. The recent update means it's available on conda so we should consider switching for consistency with everything else.

[2020-05-19 14:49] barkls opened #345 "Lens calculations aren't documented"
The `MieLens` model and WIP general lens case #333 aren't referenced at all in the documentation. Especially with the lens paper out mentioning the code is available in holopy, it would be nice to have some instructions somewhere.

[2020-05-21 20:16] briandleahy commented on #345
We should probably:
1. Add a brief description to the tutorial on the lens theories, as a short term solution.
2. Add a ScatteringTheory user's guide, along the lines of #344 , as a longer term solution.

[2020-06-01 14:14] barkls opened #346 "Ongoing changelog"
For the 3.3 release, @briandleahy put together a release notes page in the docs (#314). We had to sift through earlier commits to remember what we had changed so he could write that up. It might be better to keep an ongoing changelog in the develop branch, and you add to it whenever submitting a PR.

[2020-06-08 14:14] carolinesmartin opened #348 "PerfectLensModel doesn't allow alpha fitting"
The model available for Mielens calculations has the scaling parameter hard coded as 1 (calc_holo(detector, scatterer, theory=theory, scaling=1.0, **optics_kwargs) in PerfectLensModel class). This makes the version of mielens that's compatible with MCMC or cma-es fitting through holopy inconsistent with the paper's version of mielens, which does include alpha as a fitting parameter.

[2020-06-10 16:01] parkercoye opened #349 "HoloPy for Off-Axis Configurations"
I want to simulate an off-axis digital holography setup to try and reconstruct an image, but I noticed that Holopy uses an In-line (Gabor) configuration. Is it possible to configure HoloPy for an off-axis configuration? If not, could I still use it to reconstruct the image from an interference pattern generated with Off-Axis DH, or would I get incorrect results?

[2020-06-11 20:33] jeromefung commented on #349
HoloPy doesn't natively support off-axis holography, although I did use HoloPy to help a collaborator analyze some off-axis holograms about a year ago. In brief, you can use `hp.propagate()` to perform the Rayleigh-Sommerfeld propagation you need to do perform reconstruction, but there's a bunch of preprocessing you'll need to do yourself.

In particular, you'll first need to Fourier-transform you

[2020-06-11 20:46] barkls commented on #349
@briandleahy has also thought about off-axis holography, and may have something to contribute.

[2020-06-12 14:01] briandleahy commented on #349
Hey @parkercoye ,

As @jeromefung says, right now `holopy` does not really support off-axis holography, although this is something that I think is interesting.

Regarding simulating an off-axis setup, there are a few subtleties if you want to get all the details right.
For models which basically ignore the lens (i.e. most of holopy),
* the map from pixel positions (x, y) to scattering angles (thet

[2020-06-12 14:05] vnmanoharan commented on #349
Hi @parkercoye - Just to clarify, @briandleahy's comment addresses your first question about simulating the hologram.  @jeromefung's comment addresses your second question about reconstruction.  Reconstruction is a bit more straightforward than simulation is for the off-axis setup.

[2020-06-19 18:51] briandleahy opened #350 "MieLens() and Lens(Mie()) produce slightly different answers"
Currently (as of #333) the MieLens() and Lens(Mie) theories produce slightly different answers, even when the number of quadrature points is large for both theories. The following test, removed from `holopy.scattering.tests.test_lens`, illustrates this:

[code]

The difference between the fields is in the 6e-5 range, which is too small to be a physics mistake, but larger than numerical truncation

[2020-06-25 00:46] briandleahy commented on #348
The old version of the fitting interface made some assumptions about the types of arguments that would be passed to `calc_holo`. These assumptions were inconsistent with the needs of the lens models. As a result, @ralex0 and I did the inference separate from holopy, using holopy only to calculate holograms. As a result the MieLens fitiing code in holopy diverged a bit from the use case.

This shou

[2020-06-25 17:27] colepfwoerner commented on #349
Hello,

I'm a researcher working with @parkercoye on off-axis holography.

Since this discussion, we've started developing our own code for scattering off of complicated 3d objects. We now plan to use HoloPy for reconstruction only. I am wonder about what @jeromefung meant.

Namely:
when you say "real image" do you mean "actual image" or "real part of a complex image", are you refering to the twin

[2020-06-26 01:55] jeromefung commented on #349
Hi @colepfwoerner and @parkercoye -- by "real image" I mean the thing that is not the twin image. (You need to retain both the real and imaginary parts of the Fourier transform.) The shift I referred to is also an actual shift in the data (e.g., what values are associated with what spatial frequencies). `numpy.fft.fftshift()` changes only the order in which the values appear.

While it's certainly

[2020-06-26 17:36] barkls opened #353 "Can't fit multiple particles"
Right now you can't use the convenient `fit` function on `Scatterers` objects.

This is because `hp.inference.interface.parameterize_scatterer` calls `hp.scattering.scatterer.scatterer._interpret_parameters`, which was changed in #279 to colons in parameter names as special characters to denote dictionaries or xarrays of parameter values. Unfortunately `hp.scattering.scatterer.Scatterers.parameter

[2020-06-26 17:37] barkls commented on #353
Thanks @anna-wang for finding this bug.

[2020-06-26 17:39] barkls opened #354 "fit and sample functions don't take strategy arguments"
Right now the convenient `fit` and `sample` functions always use the default strategy. It is not possible to choose strategy by name through a keyword argument, as described in [the docs](https://holopy.readthedocs.io/en/master/users/fit_tutorial.html#customizing-the-algorithm).

Thanks to @anna-wang for finding this bug.

[2020-06-27 23:12] barkls opened #355 "Not possible to specify stepsize for Nmpfit"
When inference and fitting were merged in HoloPy with the 3.3 release, the functionality to specify a step size for nmpfit to use for each parameter was removed. Specifically, this happened in commit a563ec0897214657af8b6e52bd211d149a881f7a.

Thanks to @anna-wang for pointing this out.

[2020-07-02 15:02] barkls commented on #346
Addressed in #356

[2020-07-02 15:02] #346 closed

[2020-07-24 14:12] #354 closed

[2020-07-24 15:12] barkls opened #359 "Rarely failing test - bug with BoundedGaussian Sampling?"
The test `hp.inference.tests.test_prior.TestBoundedGaussian.test_sample` failed at least once on Travis in the context of #358.

Here is @briandleahy's plan of attack pasted from a comment in that thread:

[2020-07-28 16:13] #345 closed

[2020-07-28 16:26] barkls opened #360 "Failing Doctests"
Doctests [fail on Travis](https://travis-ci.com/github/manoharan-lab/holopy/builds/177471598) after #357. This was obscured before because the unittests were failing on that PR so doctests never ran.

The problem looks pretty simple - some documentation including example code was moved from scattering tutorial to scattering user guide and it looks like some import statements didn't follow.

[2020-07-28 20:09] briandleahy commented on #360
taking care of it now.

[2020-07-28 20:35] #360 closed

[2020-08-03 18:41] barkls opened #362 "missing numexpr warning"
There's a warning about numexpr being missing and Lens calculations being slow. Right now this appears as soon as you import holopy. It should be changed to appear when you use it - probably when you call the LensTheory `__init__` - to match the other optional dependencies in HoloPy - emcee, cma, Fortran, DDA, schwimmbad, etc.

[2020-08-06 08:09] arthudubois opened #363 "Hologram generation and reconstruction for large scatterers"
Hi,
I'm trying to generates holograms and reconstructions for one sphere with a radius ~50 µm. My detector is shape = (200, 200), spacing = 5. The hologram with a sphere at (500, 500, 500) looks like this with illumination at  0.532µm :
![Figure_1](https://user-images.githubusercontent.com/59050347/89506207-12163680-d7cb-11ea-9f5e-994509648534.png)
But the reconstruction with zstack = np.linspace(

[2020-08-06 21:07] briandleahy commented on #363
Hi @arthudubois ,

Well, the calculations may be problematic, but at least they make beautiful images!! :smile:

I think you are seeing aliasing, from the large pixel spacing on your detector. If I run:

[code]
then I get basically the exact same plot you had above. But if I zoom in by a factor of 10, calculating at more pixels, like so,
[code]
then I get this much more reasonable image:

![zoomed

[2020-08-06 21:07] #363 closed

[2020-08-07 14:28] arthudubois commented on #363
Hi @briandleahy
Thanks a lot for your help.
Generation with a x10 zoom works perfectly but the reconstruction is still strange.
I tried to increase pixel density and got this result :
[code]
![Figure_10_250](https://user-images.githubusercontent.com/59050347/89655348-43c1f700-d8ca-11ea-8872-6557e11706e8.png)
![Figure_10_410](https://user-images.githubusercontent.com/59050347/89655354-44f32400-d8ca

[2020-08-07 17:11] barkls commented on #363
Reconstruction tries to propagate the field back into various planes, but it doesn't know what the field is outside the image. This introduces artifacts in reconstructions that move inwards from the edges of the image to the center with increasing z-propagation distance. Usually the solution is to make sure the image you are reconstructing includes a large enough buffer region between the hologram

[2020-08-20 21:23] #349 closed

[2020-08-20 21:24] #326 closed

[2020-08-25 13:49] #359 closed

[2020-08-25 13:49] #362 closed

[2020-09-04 17:09] barkls opened #367 "Error displaying reconstruction slice"
The following code should display only the second slice (z=1) of a reconstruction stack, but it gives an error

[code]
The code works when replacing the second last line with `one_slice = recon.sel(z=[1])` (note z is a list).

The problem is that `xr.DataArray.sel()` keeps z as a coord but not a dim. Line 228 of hp/core/io/vis.py checks if z is an attribute and then tries to take its length but th

[2020-09-06 17:30] golovart opened #368 "No parameter to run ADDA on GPU?"
Parameters in the __init__ suggest only 1 or multiple cpus, and later in code, while forming 'cmd' only 2 options are considered:

[code]

If I understand correctly, the GPU run should start with `adda_ocl`

[2020-09-14 12:42] barkls commented on #368
You're right - it looks like HoloPy was never set up to run adda on GPUs. It's great that you identified the change that needs to be made. If you can get this working, we would welcome a pull request to add this functionality!

[2020-09-17 20:15] #256 closed

[2020-09-17 20:15] #353 closed

[2020-09-21 14:26] golovart commented on #368
I tried adding a parameter like `self.use_gpu` and `self.gpu_id`
and therefore
[code]

It indeed runs `adda_ocl` and nvidia-smi shows GPU usage. However, timing tests (with large refraction index) show no difference between GPU runs and 1 CPU runs, while for pure ADDA it is significant

[2020-09-24 15:50] barkls commented on #368
Thanks for doing some digging on this. What ADDA calculations did you test through HoloPy? There's a fair bit of overhead to actually dispatch the scattering calculations to ADDA so the gpu (or parallel processing) advantage might only come through for longer calculations with a larger scatterer and/or many pixels to calculate.

[2020-09-25 15:56] golovart opened #371 "Incident polarisation implementation may be unphysical"
Results for simulations with rotations of incident polarisation seem to be physically questionable.
As a small demonstration:

Two silver spheres (50nm radius, complex refraction index) at a large distance (bigger than the wavelength).
[code]

<img width="969" alt="image" src="https://user-images.githubusercontent.com/32298047/94285294-c6267900-ff53-11ea-868b-300829a1c07e.png">

The spheres are al

[2020-09-25 18:19] jeromefung commented on #371
In the formulation of Mie scattering we're using, the amplitude scattering
matrix acts on components of the incident and scattered fields relative to
the scattering plane (which is defined as containing the scatterer and the
detector location). So we absolutely need to take the spherical coordinate
phi of the detector location into account to the polarization vector (E_x,
E_y) in the lab frame to

[2020-09-25 18:21] jeromefung commented on #371
(I should add that the incfield subroutine directly implements the 1st two
equations on p. 62 of Bohren & Huffman, which has a figure illustrating the
definition of the scattering plane.)

Jerome

On Fri, Sep 25, 2020 at 2:19 PM Jerome Fung <jerome.fung@gmail.com> wrote:

[2020-09-25 19:35] barkls commented on #371
It turns out the behaviour isn't because of DDA, but the new `Lens` class. Here's proof:
![polarization](https://user-images.githubusercontent.com/19350183/94308357-65dc0b00-ff44-11ea-9ccf-683ed9f744e7.png)
Top row uses Lens(Multisphere), bottom row uses Multisphere only. Mie seems better behaved but I don't understand why. Any ideas @ralex0 or @briandleahy ?

code to generate image:
[code]

[2020-09-28 10:38] #368 closed

[2020-09-28 19:30] barkls commented on #368
Fixed by #370

[2020-10-05 23:24] briandleahy commented on #371
Some of this may be due to the pixel scaling being used in the demonstration. When I check this while (i) zooming out and (ii) using the Lens theory & Mie superpostiion, I don't see any rotation of the image, although if you look closely you will see some changes near the center, which are presumably due to polarization effects.

[code]
![mie-mielens-lensmie](https://user-images.githubusercontent.

[2020-10-06 13:34] barkls commented on #371
I uncommented the `Multisphere` in your code and here is the result:

![mie-mielens-lensmie](https://user-images.githubusercontent.com/19350183/95208391-063cf580-07b7-11eb-9e04-a674704b7933.png)

The difference in behaviour between Mie and Multisphere is surely a clue into what's going wrong here...

[2020-10-06 18:34] briandleahy commented on #371
@golovart, this will take me a little while to look into. In the meanwhile, I just want to provide a few suggestions so this doesn't slow you down too much:

* As @barkls has shown, this is only a problem with the new Lens class. You can ignore the effect of the lens by just using `DDA()` instead of `Lens(DDA())`.
* The Multisphere calculations are much faster than the DDA calculations for spheres

[2020-10-06 23:05] golovart commented on #371
Well, unfortunately, I am working on simulation of the images of non-default objects (so `DDA()`) in the focal plane of optical microscope (so `Lens()`).

But can we be sure that, for instance, the output for polarisation (1,0) is correct? Because then, as a temporary workaround, one can rotate scatterer before passing to ADDA, obtain the result and then rotate the output image back.
Does that mak

[2020-10-06 23:45] jeromefung commented on #371
We haven't implemented scattering of unpolarized incident light in HoloPy.
But it would not be too difficult to do: all of the scattering theories
(Lorenz-Mie, multisphere, and DDA) ultimately calculate the amplitude
scattering matrix. The scattering response to unpolarized light is given by
the S_11 element of the 4 x 4 scattering matrix, which (up to a factor of
1/2) the sum of the squared magni

[2020-10-07 00:35] briandleahy commented on #371
@golovart -- I am pretty confident that the polarization output for (1,0) is correct. @ralex0 and I checked it numerically against the MieLens theory, which has been a little more thoroughly tested.

Regarding unpolarized incident light -- it's more or less as @jeromefung says, with the additional caveat that the lens changes the polarization, and that the Lens API doesn't directly expose the scat

[2020-10-13 22:59] briandleahy commented on #371
The gross problem with polarization rotation is now fixed on my fork, under the "fixlenspolarizationrotation" branch. (And the calculation for x-polarized light was correct.)

However, in the process of fixing this, I found that the polarization rotates slightly differently under Lens(Mie) and Mie(Lens). This is captured under the test `test_raw_fields_similar_mielens_ypolarization`on the "fixlens

[2020-10-14 11:00] golovart commented on #371
I discovered another counter-intuitive behavior of simulation with Lens.
If I just take a small sphere and look at the pixel with peak intensity, I would expect it to be in the same point (in XY plane) as the center of the sphere.
And ADDA without Lens gives this result. However, with Lens it appears _significantly_ shifted and I am not sure about the reason for such symmetry break.

[code]
The ou